<ion-header>
  <ion-toolbar>
    <ion-title>currentmatch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid *ngFor = "let x of currentmatch">
      <ion-row>
          <ion-col>
    HOME
          </ion-col>
          <ion-col>
           AWAY
          </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
{{x.TeamName}}
      </ion-col>
      <ion-col>
        {{x.aTeamName}}
      </ion-col>
   
    </ion-row>
    <ion-row>
      <ion-col>
{{x.score}}
      </ion-col>
      <ion-col>
        {{x.ascore}}
      </ion-col>
   
    </ion-row>
    <ion-row>
      Timer: {{mins}}:{{timer}}
    </ion-row>
</ion-grid>
<ion-row>
<ion-col><ion-button (click) ="firsthalf()" [hidden] ="btn1">{{btntxt1}}</ion-button></ion-col>
<ion-col><ion-button (click) ="stop()">Stop</ion-button></ion-col>
<ion-col><ion-button (click) ="secondhalf()" [hidden] ="btn2">{{btntxt2}}</ion-button></ion-col>

</ion-row>
</ion-content>
