<ion-content>
<div class="container">
    <div class="teams">
      <div class="header">
        <p>Teams</p>
        <p><sub>Drag and drop a team to a side</sub></p>
      </div>
      <div class="teamList">
        <div class="card" *ngFor="let item of tempCardGen"  >
          <h5>Kasi Team</h5>
          <p>Manager <b>Name Surname</b></p>
        </div>
      </div>
      </div>
      <div class="fixture">
        <div class="head">
          <h1>Fixture</h1>
          <div class="step"> <sub>Step 1 / 2</sub></div>
        </div>
        <div class="hVSa">
          <div class="headers">
            <div class="hometitle">
              <h4>Home</h4>
            </div>
            <div class="v">
              <h4>vs</h4>
            </div>  
            <div class="awayTitle">
              <h4>Away</h4>
            </div>
          </div>
        <div class="lists">
            <div class="homeList">

                <div class="card" *ngFor="let item of tempCardGen"  >
                    <h5>Kasi Team</h5>
                    <p>Manager <b>Name Surname</b></p>
                  </div>
              </div>
              <div class="awayList">
                <div class="doneButton">
                  <ion-button >
                    Done
                  </ion-button>
                </div>
                  <div class="card" *ngFor="let item of tempCardGen"  >
                      <h5>Kasi Team</h5>
                      <p>Manager <b>Name Surname</b></p>
                    </div>
              </div>
        </div>
        </div>
      </div>
</div>
</ion-content>
