<ion-content>
<div class="container">
    <div class="teamNewApplications">
        <div class="title">
            <h1>New Manager Applications</h1>
        </div>
        <div class="list">
            <div class="card nothing" *ngIf="manager.length==0" >
                <p class="dim" style="margin: auto;
                text-align: center;">No Information</p>
            </div>
            <div class="card" *ngFor="let item of manager" >
                <div class="img">
                    <img src="../../../assets/35060wide.jpg" alt="">
                </div>
                <div class="details">
                <h4>{{item.doc.form.fullName}}</h4>
                    <p class="dim">{{item.doc.form.phoneNumber}}</p>
                    <div class="buttons">
                        <ion-fab-button style="margin: 0;" size="small" fill="clear" (click)="approve(item)">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button style="margin: 0;" size="small" color="danger" fill="clear" (click)="decline(item)">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </ion-fab-button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="teamExistingApplications">
            <div class="title">
                <h3>Managers</h3>
            </div>
            <div class="teamList">
                <div class="card" *ngIf="approvedManagers.length==0" >
                    <p class="dim" style="margin: auto;
                    text-align: center;">No Information</p>
                </div>
                <div class="card" *ngFor="let item of approvedManagers" >
                   
                    <div class="details">
                        <div>
                            <p id="name"><b>{{item.form.fullName}}</b></p>
                        <p class="dim">{{item.form.phoneNumber}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vendors">
            <div class="vendorNewApplications">
                <div class="title">
                    <h5 style="margin: 0;">New Vendors</h5>
                </div>
                <div class="list">
                    <div class="card" *ngIf="vendors.length==0" >
                        <p class="dim" style="margin: auto;
                        text-align: center;">No Information</p>
                    </div>
                    <div class="card" *ngFor="let item of vendors" >
                        <div class="details">
                            <p><b>Name Surname</b></p>
                        <p>0123654789</p>
                        </div>
                        <div class="buttons">
                            <ion-fab-button style="margin: 0;" size="small" fill="clear" (click)="approve(item)">
                                <ion-icon name="thumbs-up"></ion-icon>
                            </ion-fab-button>
                            <ion-fab-button style="margin: 0;" size="small" color="danger" fill="clear" (click)="decline(item)">
                                <ion-icon name="thumbs-down"></ion-icon>
                            </ion-fab-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="existingVendors">
                <div class="title">
                    <h5>Vendors</h5>
                </div>
                <div class="list">
                    <div class="card" *ngIf="approvedVendor.length==0" >
                        <p class="dim" style="margin: auto;
                        text-align: center;">No Information</p>
                    </div>
                    <div class="card" *ngFor="let item of approvedVendor" >
                    <p><b>{{item.form.fullName}}</b></p>
                        <p class="dim">{{item.form.phoneNumber}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</ion-content>