<ion-content>
    <div class="cmsContentMembers">
        <div class="managers">
            <div class="approvedManagers">
                <div class="title">
                    <h4>Team Managers</h4>
                </div>
                <div class="approvedList">
                    <div class="card" *ngFor="let t of tempCardGen">
                        <div class="image">
                            <img
                                src="https://firebasestorage.googleapis.com/v0/b/nathistournamentdb.appspot.com/o/Capture.PNG?alt=media&token=0e6194fa-499a-4908-a1f0-1c33bdc67ab1">
                        </div>
                        <div class="details">
                            <div>
                                <p><b>Name Surname</b></p>
                                <hr>
                                <p>0123654789</p>
                                <p>alongemail@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unaprovedManagers">
                <div class="title">
                    <h4>New Managers</h4>
                </div>
                <div class="unapprovedList">
                    <div class="card" *ngFor="let u of tempCardGen">
                        <div class="image">
                            <div class="img">
                                <img
                                    src="../../../assets/icon/manager.png">
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <p><b>Name Surname</b></p>
                                <hr>
                                <p>0123654789</p>
                                <p>alongemail@gmail.com</p>
                            </div>
                        </div>
                        <div class="approve">
                            <ion-fab-button color="success">
                                <ion-icon name="thumbs-up"></ion-icon>
                            </ion-fab-button>
                        </div>
                        <div class="decline">
                            <ion-fab-button color="danger">
                                <ion-icon name="thumbs-down"></ion-icon>
                            </ion-fab-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vendors">
            <div class="approvedVendors">
                <div class="title">
                    <h4>Vendors</h4>
                </div>
                <div class="approvedList">
                    <div class="card" *ngFor="let t of tempCardGen">
                        <div class="tTitle">
                            <h5>Sbuda</h5>
                        </div>
                        <div class="tDetails">
                            <div>
                                <p>0123657899</p>
                                <p>makarena@gmail.com</p>
                            </div>

                        </div>
                        <div class="setup">
                            <ion-button size="small" color="light" *ngIf="t.hasApplications">
                                Finnsh Setup
                            </ion-button>
                            <ion-button size="small" disabled="true" color="light" *ngIf="!t.hasApplications">
                                No Applications
                            </ion-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unaprovedVendors">
                <div class="title">
                    <h4>Vendor Applications</h4>
                </div>
                <div class="unapprovedList">
                    <div class="card" *ngFor="let u of tempCardGen">
                        <div class="image">
                            <div class="img">
                                <img
                                    src="../../../assets/icon/vendor.png">
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <p><b>Name Surname</b></p>
                                <hr>
                                <p>0123654789</p>
                                <p>alongemail@gmail.com</p>
                            </div>
                        </div>
                        <div class="approve">
                            <ion-fab-button color="success">
                                <ion-icon name="thumbs-up"></ion-icon>
                            </ion-fab-button>
                        </div>
                        <div class="decline">
                            <ion-fab-button color="danger">
                                <ion-icon name="thumbs-down"></ion-icon>
                            </ion-fab-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>