<div class="container">
  
<form [formGroup]="authForm">
  
  <div class="align">
    <div class="header">
      <h1>Login</h1>
    </div>
     <ion-item >
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" type="email"  [class.invalid]="!authForm.controls['email'].valid &&
      authForm.controls['email'].touched">
    </ion-input>
  </ion-item>
  <p style="font-size: 21px; text-align: center; padding: 0; margin: 0; color: red" class="error-message" *ngIf="!authForm.controls['email'].valid &&
       authForm.controls['email'].touched">
    <ion-label style="background: rgba(255, 0, 0, 0.068);padding: 10px;border-radius: 8px;color: red !important;">Please enter a valid email address.</ion-label>
</p>

  <ion-item *ngIf="!isPasswordResetPage">
    <ion-label position="floating">Password</ion-label>
    <ion-input formControlName="password" type="password" 
      [class.invalid]="!authForm.controls['password'].valid&& authForm.controls['password'].touched">
    </ion-input>
  </ion-item>
  <p style="font-size: 21px; text-align: center; padding: 0; margin: 0; color: red"  class="error-message" *ngIf="!authForm.controls['password'].valid
      && authForm.controls['password'].touched && !isPasswordResetPage">
    <ion-label style="background: rgba(255, 0, 0, 0.068);padding: 10px;border-radius: 8px;color: red !important;">Your password needs more than 6 characters.</ion-label>
</p>
<!-- <div class="greenCirlce"></div> -->
<!-- <div class="lightGCircle"></div> -->
<div class="svger">
<!-- <img src="../../../assets/cardSVG/SVG/ball.svg" alt=""> -->
</div>
<!-- <div class="stadium">
  <img src="../../../assets/cardSVG/SVG/footallField.svg" alt="">
</div> -->
<!-- <ion-button  color="success" disabled="true" *ngIf="!authForm.valid">
  <ion-spinner name="bubbles"></ion-spinner>
</ion-button> -->
  <ion-button  color="success" disabled="true" *ngIf="!authForm.valid">
    {{ actionButtonText }}
  </ion-button>
  <ion-button (click)="submitCredentials(authForm)" color="success" *ngIf="authForm.valid">
    {{ actionButtonText }}
  </ion-button>
  </div>
 
</form>
</div>