<ion-header>
  <ion-toolbar>
    <ion-title>currtourn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-col  class="q1">
      <div align = "center">Fixtures</div>
      <ion-list  >
        <ion-item *ngFor="let item of fixture" [color]="item.color">
          {{ item.TeamName }} vs {{item.aTeamName}}&nbsp;&nbsp;Date:{{item.matchdate}}&nbsp;&nbsp;Time:{{item.matchtime}}<ion-button (click)="stmatch(item)">Start Match</ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
</ion-content>
