/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(13, 38, 6, 0.13);
  border-radius: 200px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #387336;
  border-radius: 200px;
  width: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 255, 201);
}
p {
  
  font-family: 'Didact Gothic', sans-serif;
}
h1,h2,h3,h4,h5 {
  font-family: 'Staatliches', cursive;
  // font-size: 5vw;

}
a,span {
  font-family: 'Reem Kufi', sans-serif;
}
.has-focus {
  // color: white !important;
}
:root {
  --ion-color-primary: #012615;
  --ion-color-primary-rgb: 1,38,21;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #012112;
  --ion-color-primary-tint: #1a3c2c;

  --ion-color-secondary: #02734a;
  --ion-color-secondary-rgb: 2,115,74;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #026541;
  --ion-color-secondary-tint: #1b815c;

  --ion-color-tertiary: #a2ff44;
  --ion-color-tertiary-rgb: 162,255,68;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #8fe03c;
  --ion-color-tertiary-tint: #abff57;

  --ion-color-success: #05a66b;
  --ion-color-success-rgb: 5,166,107;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #04925e;
  --ion-color-success-tint: #1eaf7a;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  
}
ion-loading {
  --background: rgba(0, 13, 6, 0.555);
  --spinner-color: white;
  background : rgba(0, 13, 6, 0.575);
}