ion-item {
  --background: rgba(255, 255, 255, 0.158) !important;
  --background-activated: rgba(255, 255, 255, 0.74);
  --background-focused: rgb(255, 255, 255);
  --color: rgb(31, 31, 31);
  --border-radius: 200px !important;;
  margin: 5px 0px;
  font-weight: normal;
}
ion-button {
  // --background: white;
  --color: rgb(255, 255, 255);
}
.setUpProfile {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.514);
  z-index: 90;
  display: none;
  align-items: center;
  .fom {
    margin: auto;
    width: 50%;
    height: 50%;
    background: white;
    color: black;
    border-radius: 10px;
    .title {
      text-align: center;
    }
    .mainForm {
      width: 100%;
      display: flex;
      height: 85%;
      .image {
        flex-basis: 50%;
        height: 100%;
        .choose {
          color: white;
          background: rgb(67, 95, 69);
          border-radius: 3px;
          height: 100%;
        }
        .confirm {
          color: white;
          background: rgb(67, 95, 69);
          border-radius: 3px;
          height: 100%;
          position: relative;
          .editImage {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
          }
        }
      }
      .inputs {
        height: 85%;
        text-align: center;
        ion-label {
          --color: black;
        }
        form {
          height: 100%;
        }
      }
    }
  }
}
.cmsTitle {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 80;color: white;
  p {
    margin: 0;
    padding: 0;
    letter-spacing: 20px;
    font-weight: normal;
  }
  span {
    font-weight: bolder;
  }
  p, span {
    font-size: 50px;
  }
}
.forgot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }