<ion-content>
  <div class="setUpProfile animated" [ngClass]="{'bounceInUp':profileState,'bounceOutDown':!profileState}" >
    <div class="fom">
      <div class="title">
        <h4>Setup Profile</h4>
      </div>
      <div class="mainForm">
        <div class="image">
          <div class="choose" *ngIf="!profile.image" >
              <img src="../../../assets/cardSVG/SVG/mainthing.svg" alt="">
              <p><sub>*Please Select a display picture.</sub></p>
              <ion-input type="file" accept="image/*" multiple="false" (change)="selectimage($event.target.files)"></ion-input>
              <ion-progress-bar value="{{uploadProgress/100}}"></ion-progress-bar>
          </div>
          <div class="confirm"  *ngIf="profile.image">
              <img src="{{profile.image}}" alt="">
              <div class="editImage">
                <p><sub>Click to edit image</sub></p>
                  <ion-button (click)="deleteImage()">
                      <ion-icon slot="icon-only" name="create"></ion-icon>
                    </ion-button>
              </div>
          </div>
        </div>
        <div class="inputs">
          <form [formGroup]="profileForm" >
            <ion-item>
              <ion-label position="floating">Full Name</ion-label>
              <ion-input type="text" formControlName="fullName" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Number</ion-label>
                <ion-input type="tel" formControlName="number" ></ion-input>
              </ion-item>
              <p>You need to set a new password
                  for this account</p>
              <ion-button color="light" shape="round" size="small" (click)="updatePassword()">
                Set Up Password
              </ion-button>
              <ion-button *ngIf="!creatingProfile"  [disabled]="!profileForm.valid&&!profile.image" fill="clear" type="submit" color="dark" shape="round" (click)="createProfile(profileForm.value)">
                  Set Later
                </ion-button>
                <ion-button *ngIf="creatingProfile" >
                  <ion-spinner name="bubbles"></ion-spinner>
                </ion-button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="cmsTitle">
    <p>Nathi's</p>
    <span>Tournament</span>
  </div>
  <app-auth-form #loginForm (formSubmitted)="loginUser($event)" [actionButtonText]="'Login'"></app-auth-form>
<div class="forgot">
  
  <ion-button expand="block" fill="clear" (click)="updatePassword()">
    I forgot my password
  </ion-button>
</div>
</ion-content>