.penalties {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.253);
  display: none;
  align-items: center;

  .pCont {
    width: 500px;
    height: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #17171754;
    margin: auto;
    position: relative;
    .pCloser {
      position: absolute;
      top: -15px;
      right: -15px;
      z-index: 200;
    }
    .titles {
      text-align: center;
      height: 20%;

      // background: red;
      .teams {
        display: flex;

        .a,
        .h {
          width: 50%;
        }
      }
    }

    .interaction {
      display: flex;

      .pHome,
      .pAway {
        width: 50%;
        height: 90%;
        display: flex;

        .pButtons {
          display: flex;

          flex-basis: 100%;
          align-items: center;

          .c {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;
          }
        }

        .pIndicatiors {
          display: flex;
          flex-direction: column;
          flex-basis: 10%;

          .ind {
            width: 20px;
            height: 20px;
            margin: 10px 5px;
            border-radius: 200px;
            border: solid 1px whitesmoke;
          }
          .reset {
            transition: 0.7s;
            background: rgb(196, 196, 196);
          }
          .goal {
            transition: 0.7s;
            background: green;
          }
          .missed {
            transition: 0.7s;
            background: red;
          }
        }
      }

      .pHome {
        border-right: dashed 1px gray;
      }
    }
  }
}

button[ion-fab] {
  overflow: visible;
  position: relative;

  ion-label {
    position: absolute;
    top: -8px;
    right: 40px;

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }

  contain: layout;
}

.inProgress {
  background-color: rgb(233, 245, 255) !important;
}

.newTorunament {
  background-color: rgb(230, 255, 233) !important;
}

.finnishedTournament {
  background-color: rgb(255, 233, 233) !important;
}

.selectedTourn {
  background-color: whitesmoke !important;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  z-index: 700;
}

.viewMatch {
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    text-align: center;

    ion-icon {
      margin: auto;
    }
  }

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.616);
  z-index: 900;
  display: none;
  align-content: center;
  overflow: hidden;

  .matchDiv {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    position: relative;

    .matchDetails {
      max-width: 60%;
      min-width: 50%;
      border-radius: 10px;
      overflow: hidden;
      backdrop-filter: blur(5px);
      background: rgb(218, 218, 218);
      height: 80vh;
      margin: auto;
      z-index: 100;

      .topLine {
        width: 100%;
        height: 8px;
        background: #000D06;
      }

      .topData {
        display: flex;
        justify-items: center;
        justify-content: space-between;
        height: 27%;

        .homeImage,
        .awayImage,
        .image {
          width: 70px;
          height: 70px;
          margin: auto;
          border-radius: 200px;
          position: relative;
          cursor: pointer;

          // overflow: hidden;
          div {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 200px;
            }
          }
        }

        .homeImage:hover {
          box-shadow: 5px 5px 0px #c0c0c0,
            -5px -5px 0px #f4f4f4;
          transition: 0.3s;
        }

        .awayImage:hover {
          box-shadow: 5px 5px 0px #c0c0c0,
            -5px -5px 0px #f4f4f4;
          transition: 0.3s;
        }

        .homeImage {

          .homeButton {
            position: absolute;
            top: -50px;
            right: -70%;
            z-index: 4000;
            background: rgba(255, 255, 255, 0.932);
            display: none;
            border-radius: 10px;
            box-shadow: 0px 3px 3px #17171717;
          }

        }

        .awayImage {
          .awayButton {
            text-align: right;
            position: absolute;
            top: -50px;
            left: -70%;
            z-index: 4000;
            background: rgba(255, 255, 255, 0.932);
            display: none;
            border-radius: 10px;
            box-shadow: 0px 3px 3px #17171717;
          }

        }

        .match {
          width: 60%;
          background: #000D06;
          padding: 5px;
          color: white;
          border-radius: 0px 0px 10px 10px;
          position: relative;

          .scores {
            align-content: center;
            display: flex;
            text-align: center;
            width: auto;
            margin: auto;
            justify-content: center;

            .points {
              flex-basis: 10%;
              position: relative;
              padding: 24px 1px 1px 1px;

              .butns {
                position: absolute;
                top: -17px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 700;
              }

              p {
                margin: 0;
                padding: 0;
                font-size: 1.3rem;
              }
            }

            .homeScore,
            .awayScore {
              padding: 6px;
              display: flex;
              align-items: center;
              flex-basis: 90%;
              text-align: center;

              p {
                margin: 10px auto 0px auto;
                text-align: center;
                padding: 0;
              }

              .buttns {
                position: absolute;
                background: red;
              }

            }

            .homeScore {
              .buttns {
                left: 0;
                bottom: 0;
              }
            }

            .awayScore {
              .buttns {
                left: 0;
                bottom: 0;
              }
            }
          }

          .upComingData {
            text-align: center;

            h5 {
              margin: 3px;
            }

            p {
              margin: 0;
              padding: 0;
            }
          }
        }
      }

      .list-cont {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 39%;
        display: flex;

        .dummydiv {
          position: relative;
          width: 100%;
          height: 100%;

          .lineUps {
            display: flex;
            width: 100%;
            height: 100%;
            background: white;
            position: absolute;

            .away,
            .home {
              height: 100%;
              overflow-y: auto;
              width: 50%;

              .card {
                display: flex;
                padding: 10px 5px;
                border-bottom: solid 2px rgba(0, 0, 0, 0.103);
                position: relative;
                margin: 15px 15px 10px 45px;
                background: rgba(39, 44, 66, 0.021);

                .number {
                  position: absolute;
                  width: 29px;
                  height: 30px;
                  top: -7px;
                  background: linear-gradient(45deg, rgb(5, 166, 107), rgb(1, 38, 21));
                  border-radius: 10px 10px 0px 10px;
                  left: -35px;
                  color: white;
                  display: -webkit-box;
                  display: flex;
                  align-items: center;
                  padding: 10px;
                  box-shadow: 0px 3px 3px #1717172d;

                  p {
                    margin: 0;
                    padding: 0;
                    text-shadow: 0px 3px 3px #17171734;
                  }
                }

                .number::after {
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  content: '';
                  background: red;
                  right: -10px;
                  bottom: 0;
                  clip-path: polygon(0% 100%, 50% 50%, 100% 100%, 0% 0%);
                  background: inherit;
                }

                .name {
                  flex-basis: 90%;

                  p {
                    margin: 0;
                    padding: 0;
                  }
                }

                .position {
                  display: flex;
                  align-items: center;

                  p {
                    margin: 0;
                    padding: 0;
                    font-size: .6rem;
                  }
                }
              }

              .card:hover {
                transition: 0.3s;
                box-shadow: 5px 5px 0px #c0c0c0,
                  -5px -5px 0px #f4f4f4;
              }
            }
          }

          .home {
            border-left: dashed 1px #0000004d;

          }

          .summary {
            background: white;
            width: 100%;
            height: 100%;

            .stats {
              display: flex;
              height: 50%;

              // justify-content: center;
              .labels {
                width: 80%;
                text-align: center;

                p {
                  margin: 2% 0px;
                }
              }

              .homeSummary,
              .awaySummary {
                width: 10%;
                text-align: center;

                p {
                  margin: 2% 0px;
                }
              }
            }

            .playerCards {
              width: 100%;
              height: 50%;
              display: flex;
              border-top: solid 1px rgb(223, 223, 223);

              .homePlayerCards,
              .awayPlayerCards {
                width: 50%;
                height: 100%;
                border-left: solid 1px rgb(223, 223, 223);
                display: flex;
                flex-wrap: wrap;
                overflow-y: auto;
                align-content: space-between;

                .card {
                  margin: 5px auto;
                  border-radius: 10px;
                  box-shadow: 0px 3px 3px #1717173d;
                  padding: 6px;
                  display: flex;
                  align-content: center;
                  align-items: center;
                  justify-content: center;

                  .redCard {
                    width: 20px;
                    height: 30px;
                    background: red;
                    border-radius: 5px;
                  }

                  .yellowCard {
                    width: 20px;
                    height: 30px;
                    background: yellow;
                    border-radius: 5px;
                  }

                  .details {
                    padding: 0px;

                    p {
                      font-size: .8rem;
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }

    .teamHome {
      border-radius: 10px 0px 0px 10px;
      left: 0%;

      .details {
        text-align: right;
      }
    }

    .teamAway {
      border-radius: 0px 10px 10px 0px;
      right: 0%;

    }

    .teamHome,
    .teamAway {
      background: white;
      margin: 50px 0px 50px 0px;
      border-radius: 10px;
      overflow: hidden;
      width: 20%;
      position: absolute;
      top: 20px;
      bottom: 20px;
      display: none;
      z-index: 1;

      .teamClose {}

      .title {
        text-align: center;
      }

      .image {
        width: 100%;
        height: 30%;
        overflow: hidden;
        border-radius: 10px;
        overflow: hidden;

        //    border: solid 1px black;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .details {
        padding: 10px;
        overflow-y: auto;
        height: 52%;

        p {
          opacity: 0.6;
          font-size: 12px;
          margin: 6px 0px;
        }

        h4 {
          margin: 5px 0px;
          ;
        }
      }
    }

    .playerHome,
    .playerAway {
      background: white;
      margin: 50px 0px 50px 0px;
      overflow: hidden;
      width: 20%;
      position: absolute;
      top: 20px;
      bottom: 20px;
      display: none;
      border-radius: 10px;

      .title {
        text-align: center;
      }

      .image {
        width: 100%;
        height: 40%;
        overflow: hidden;
        border-radius: 10px;
        position: relative;

        .playerClose {
          position: absolute;
          right: 0;
          bottom: 10px;
          z-index: 6;

          p {
            margin: 0;
            padding: 0;
          }
        }

        .name {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          padding: 10px;
          background: rgba(255, 255, 255, 0.897);
          z-index: 5;

          p {
            margin: 0;
            padding: 0;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        //    border: solid 1px black;

      }

      .details {
        padding: 10px;
        position: relative;

        p {
          opacity: 0.6;
        }
      }
    }

    .playerHome {
      border-radius: 10px;
      left: 0%;

      .details {
        text-align: right;
        overflow-y: auto;
        height: 59%;
      }
    }

    .playerAway {
      border-radius: 10px;
      right: 0%;

      .details {
        overflow-y: auto;
        height: 59%;
      }
    }
  }
}

.cmsContentMain {
  position: absolute;
  bottom: 0;
  top: 0px;
  right: 0;
  left: 0px;
  z-index: 300;
  display: flex;
  background: url(../../../assets/markus-spiske-KWQ2kQtxiKE-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;

  .tournaments {
    width: 50%;

    .links {
      display: flex;
      // height: 10px;
      justify-content: center;
      width: 100%;

      button {
        cursor: pointer;
        outline: none !important;
        width: 30%;
        padding: 10px;
        border-radius: 200px;
        background: white;
        margin: 5px 2px;
        color: #000D06;
        box-shadow: 0px 3px 3px #17171717;
        transition: 0.4s;
        font-size: .7em;
      }

      .activeFilter {
        transition: 0.4s;
        // border: solid 1px green;
        background: #0BBB72;
        color: white;
        transform: scale(1.05);
      }
    }

    .tournamentList {
      position: absolute;
      bottom: 0;
      left: 2vw;
      right: 50vw;
      top: 50px;
      overflow-y: auto;
      border-radius: 20px 20px 0px 0px;
      padding: 10px 0px;

      .card {
        cursor: pointer;
        display: flex;
        position: relative;
        width: 97%;
        // max-height: 60px;
        background: #ffffffbd;
        margin: 8px auto;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0px 3px 3px #1717172c;

        #date {
          font-size: .9rem;
          margin: 0px 4px;
        }

        #location {
          margin: 4px;
          font-size: .7rem;
        }

        hr {
          background: rgb(209, 209, 209);
          width: 90%;
          margin: 9px auto;

        }

        p {
          padding: 0;
          margin: 0;
        }

        .viewTimeline {
          position: absolute;
          top: 105%;
          left: 20%;
          right: 0;
          height: 0;
          background: #f9f9f9;
          border-radius: 10px;
          overflow-y: auto;
          overflow-x: hidden;
          box-shadow: 0px 3px 2px #17171723;
          z-index: 400;
          // display: none;
          padding: 0px;
          transition: 0.4s;
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

          /* Import */
          .timeline {
            --uiTimelineMainColor: #0BBB72;
            --uiTimelineSecondaryColor: #FAFAFA;
            --neu: -6px -6px 8px #fff, 6px 6px 8px #f0f0f0;
            position: relative;
            // padding-top: 3rem;
            // padding-bottom: 3rem;
          }

          .timeline__content {
            p {
              font-size: .9em;
            }
          }

          .timeline:before {
            content: "";
            width: 4px;
            height: 100%;
            background-color: var(--uiTimelineMainColor);
            border-radius: 200px;
            position: absolute;
            top: 0;
          }

          .timeline__group {
            position: relative;
          }

          .timeline__group:not(:first-of-type) {
            margin-top: 4rem;
          }

          .timeline__year {
            padding: 5px 10px;
            color: var(--uiTimelineSecondaryColor);
            background-color: var(--uiTimelineMainColor);
            border-radius: 20px;
            position: absolute;
            left: 3px;
            top: 0;
          }

          .timeline__box {
            position: relative;
          }

          .timeline__box:not(:last-of-type) {
            margin-bottom: 30px;
          }

          .timeline__box:before {
            content: "";
            width: 100%;
            height: 2px;
            background-color: var(--uiTimelineMainColor);

            position: absolute;
            left: 0;
            z-index: -1;
          }

          .timeline__date {
            min-width: 65px;
            position: absolute;
            left: 0;

            box-sizing: border-box;
            padding: 0.5rem 1.5rem;
            text-align: center;

            background-color: var(--uiTimelineMainColor);
            color: var(--uiTimelineSecondaryColor);
          }

          .timeline__day {
            font-size: .8em;
            font-weight: 700;
            display: block;
          }

          .timeline__month {
            display: block;
            font-size: 0.8em;
            text-transform: uppercase;
          }

          .timeline__post {
            padding: 15px;
            border-radius: 2px;
            border-left: 3px solid var(--uiTimelineMainColor);
            box-shadow: var(--neu);
            border-radius: 10px;
            background-color: var(--uiTimelineSecondaryColor);
          }

          @media screen and (min-width: 641px) {
            .timeline:before {
              left: 30px;
            }

            .timeline__group {
              padding-top: 55px;
            }

            .timeline__box {
              padding-left: 80px;
            }

            .timeline__box:before {
              top: 50%;
              transform: translateY(-50%);
            }

            .timeline__date {
              top: 50%;
              margin-top: -27px;
              // box-shadow: var(--neu);
              border-radius: 10px;
            }
          }

          @media screen and (max-width: 640px) {
            .timeline:before {
              left: 0;
            }

            .timeline__group {
              padding-top: 40px;
            }

            .timeline__box {
              padding-left: 20px;
              padding-top: 70px;
            }

            .timeline__box:before {
              top: 90px;
            }

            .timeline__date {
              top: 0;
            }
          }

          .timeline {
            --timelineMainColor: #1E1F28;
            font-size: 16px;
          }

          @media (min-width: 768px) {
            html {
              font-size: 62.5%;
            }
          }

          @media (max-width: 767px) {
            html {
              font-size: 55%;
            }
          }

          p {
            margin-top: 0;
            margin-bottom: 1.5rem;
            line-height: 1.5;
          }

          p:last-child {
            margin-bottom: 0;
          }

          .page {
            max-width: 800px;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
            order: 1;
          }


        }

        .timelineHeight__o {
          height: 300%;
          padding: 5px;
          transition: 0.4s;
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        }

        .timelineheight__c {
          height: 0px;
          padding: 0px;
          transition: 0.4s;
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        }

        .selectedT {
          transform: scale(.9);
          transition: 0.3s;
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          background: #1E1F28 !important;
          // box-shadow: 0px 0px 10px rgba(30, 31, 40, 0.623), 0px 0px 8px rgba(30, 31, 40, 0.623);
        }

        .selectedT-cl {
          transform: scale(1);
          transition: 0.3s;
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          background: #2FD292 !important;
        }

        .color {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 6px;
          border-radius: 200px;
          // background: rgb(133, 214, 10);
        }

        .details {
          padding-left: 1.5%;
          flex-basis: 90%;
          position: relative;

          #title {
            font-size: 1.5rem;
            position: relative;

          }
        }

        .more {
          display: flex;
          align-items: center;
          position: relative;

          p {
            font-size: .9rem;
          }
        }

        .recuring {
          position: absolute;
          top: -13px;
          right: 0px;
          z-index: 50;
          background: white;
          border-radius: 200px;
          pointer-events: none;
        }

        .childre {
          position: absolute;
          top: -10px;
          right: 3px;
          /* transform: translateY(-50%); */
          background: #f2f2f2;
          z-index: 1;
          border-radius: 200px;
          width: 40px;
          transition: .3s;
          overflow: hidden;

        }

        .childre:hover {
          transition: .3s;
          width: 125px;
        }

        .timelineInd {
          z-index: 30 !important;
        }
      }

      .empty {
        text-align: center;

        h2 {
          margin: auto !important;
        }
      }
    }
  }

  .tournamentDetails {
    width: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.432)), url(../../../assets/SVG/statsbg.svg), white;
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    background-size: cover;
    background-repeat: no-repeat;

    .details {
      // backdrop-filter: blur(5px);
      width: 100%;
      height: 35%;
      padding: 15px 15px 15px 50px;
      display: flex;
      // align-items: center;
      background: rgba(255, 255, 255, 0);
      overflow-y: auto;

      h4 {
        margin: 0;
        padding: 0;
        font-size: 2em !important;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    .matchList {
      width: 100%;
      max-height: 61%;
      min-height: 61%;
      overflow-y: auto;
      position: relative;
      background: #f0f0f0f0;

      .loadingList {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #f0f0f0f0;
        overflow: hidden;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        align-content: center;

        .card {
          width: 90%;
          margin: 5px auto;
          height: 100px;
          background: rgb(189, 189, 189);
          border-radius: 10px;
          box-shadow: 0px 3px 3px #1717172c;
          animation: lazyLoader 2s linear infinite;
          text-align: center;
          display: flex;
          align-items: center;

          h5 {
            margin: auto;
          }
        }


        @keyframes lazyLoader {
          0% {
            opacity: 1;
          }

          50% {
            opacity: .5;
          }

          100% {
            opacity: 1;
          }
        }
      }

      .card {
        width: 90%;
        margin: 5px auto;
        background: linear-gradient(rgba(255, 255, 255, 0.877));
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 3px 3px #1717172c;
        background-repeat: no-repeat;
        background-size: 100%;

        .date {
          width: 100%;
          background: #387336;
          border-radius: 10px;
          padding: 5px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }

        .aVb {
          display: flex;
          justify-content: space-evenly;
          height: auto;
          padding-bottom: 20px;

          .home {
            flex-basis: 40%;
            text-align: center;
          }

          .versus {
            flex-basis: 15%;
            text-align: center;
          }

          .away {
            flex-basis: 40%;
            text-align: center;
          }
        }

        .teamAway {
          position: absolute;
          bottom: 0;
          left: 0;
          background: #387336;
          padding: 4px;
          border-radius: 0px 10px 0px 10px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }

        .teamHome {
          position: absolute;
          bottom: 0;
          right: 0;
          background: #387336;
          padding: 4px;
          border-radius: 10px 0px 10px 0px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

  }

  .noTournamentDetails {
    width: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.432)), url(../../../assets/SVG/statsbg.svg), white;
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    background-size: cover;
    background-repeat: no-repeat;

    .details {
      // backdrop-filter: blur(5px);
      width: 100%;
      height: 35%;
      padding: 15px 15px 15px 50px;
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0);

      h4 {
        font-size: 4vw;
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    .matchList {
      width: 100%;
      max-height: 65%;
      min-height: 65%;
      overflow-y: auto;
      position: relative;
      background: #f0f0f0f0;

      .loadingList {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #f0f0f0f0;
        overflow: hidden;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        align-content: center;

        .card {
          width: 90%;
          margin: 5px auto;
          height: 100px;
          background: rgb(189, 189, 189);
          border-radius: 10px;
          box-shadow: 0px 3px 3px #1717172c;
          animation: lazyLoader 2s linear infinite;
          text-align: center;
          display: flex;
          align-items: center;

          h5 {
            margin: auto;
          }
        }


        @keyframes lazyLoader {
          0% {
            opacity: 1;
          }

          50% {
            opacity: .5;
          }

          100% {
            opacity: 1;
          }
        }
      }

      .card {
        width: 90%;
        margin: 5px auto;
        background: linear-gradient(rgba(255, 255, 255, 0.877));
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 3px 3px #1717172c;
        background-repeat: no-repeat;
        background-size: 100%;

        .date {
          width: 100%;
          background: #387336;
          border-radius: 10px;
          padding: 5px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }

        .aVb {
          display: flex;
          justify-content: space-evenly;
          height: 70px;
        }

        .teamAway {
          position: absolute;
          bottom: 0;
          left: 0;
          background: #387336;
          padding: 4px;
          border-radius: 0px 10px 0px 10px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }

        .teamHome {
          position: absolute;
          bottom: 0;
          right: 0;
          background: #387336;
          padding: 4px;
          border-radius: 10px 0px 10px 0px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

  }
}