<ion-content>
  <div class="viewMatch animated" [ngClass]="{'zoomIn faster':viewingMatch,'zoomOut faster':!viewingMatch}">
    <div class="close" (click)="viewmatch('close', null)">
      <ion-icon name="close"></ion-icon>
    </div>
    <div class="matchDiv">
      <div class="playerHome animated"
        [ngClass]="{'slideInRight':viewingPlayer.home,'slideOutRight faster':!viewingPlayer.home}">
        <div class="image">
          <div class="playerClose">
            <ion-fab-button size="small" (click)="viewPlayer('close', 'home', 'object')">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </div>
          <img
            src="https://the18.com/sites/default/files/styles/photo_story_list_items_1016px_wide/public/photo-story-images/2017-2-22-the18-facesmash.jpg?itok=-1TVm3PY"
            alt="">
          <div class="name">
            <p>Alan Bakes</p>
          </div>
        </div>
        <div class="details">
          <p>Defender</p>
          <span>3.5 m tall</span>
          <br>
          <p>Previous Team(s)</p>
          <span>Bara Team <br> Yarn Team</span>
          <br>
          <hr>
          <p>Acievements</p>
          <span>Best Defender</span> <br>
          <span>Best face maker</span>
        </div>
      </div>
      <div class="teamHome animated"
        [ngClass]="{'slideInRight':viewingTeam.home,'slideOutRight faster':!viewingTeam.home}">
        <div class="title">
          <h1>The Academy</h1>
        </div>

        <div class="image">
          <img src="https://image.shutterstock.com/image-vector/soccer-logos-american-logo-sports-600w-411479431.jpg"
            alt="">
        </div>
        <div class="details">
          <p>Coach</p>
          <h4>Mosia Mosia</h4>
          <p>Region</p>
          <h4>Mosia Mosia</h4>
          <p>Phone</p>
          <h4>0124578963</h4>
        </div>
        <div class="teamClose">
          <ion-button (click)="viewTeam('close', 'home', 'obj')">
            Close
          </ion-button>
        </div>
      </div>


      <div class="matchDetails">
        <div class="topLine">

        </div>
        <div class="topData">
          <div class="homeImage">
            <div class="image" (click)="viewTeam('open', 'home', 'object')">
              <img
                src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/kxm6rmrs69f9txyidrjk/zenit-saint-petersburg-2019-20-stadium-home-football-shirt-k1WvdX.jpg"
                alt="">
                <div class="homeButton animated" [ngClass]="{'bounceInLeft':matchActionState.home,'bounceOutLeft':!matchActionState.home}">
                  <ion-button size="small" shape="round" color="light" (click)="matchAction('close', 'home')" (click)="goal1()">
                    Goal
                  </ion-button>
                  <ion-button size="small" shape="round" color="danger" (click)="homestats('red')">
                    Red Card
                  </ion-button>
                  <ion-button size="small" shape="round" color="warning" (click)="homestats('yellow')">
                    Yellow Card
                  </ion-button>
                  <ion-button size="small" shape="round" color="light" (click)="homestats('offsides')">
                    Off Side
                  </ion-button>
                  <ion-button size="small" shape="round" color="light" (click)="homestats('corners')">
                    Corner Kick
                  </ion-button>
                </div>
            </div>
          </div>
          <div class="match"  *ngFor ="let item of currmatch">
            <div class="scores">
              <div class="homeScore" >
                <p>{{item.TeamObject.teamName}} <br>
                <sub (click)="matchAction('open', 'home')" style="background: white; color: black; padding: 3px 5px; border-radius: 3px 10px;"><i>Action</i></sub></p>
                <!-- <div class="buttns">
                  <ion-button color="light" size="small" shape="round">
                    Goal
                  </ion-button>
                  <ion-button color="danger" size="small" shape="round">
                    Red Card
                  </ion-button>
                  <ion-button color="secondary" size="small" shape="round">
                    Yellow Card
                  </ion-button>
                  <ion-button color="light" size="small" shape="round">
                    Free Kick
                  </ion-button>
                  <ion-button color="light" size="small" shape="round">
                    Corner Kick
                  </ion-button>
                </div> -->
              </div>
              <div class="points">
                <ion-button size="small" shape="round" (click)="firsthalf()" [hidden]="btn1">
                    {{btntxt1}}
                </ion-button>
                <ion-button size="small" shape="round" (click)="secondhalf()" [hidden]="btn2">
                    {{btntxt2}}
                  </ion-button>


                  <ion-button size="small" shape="round" (click)="stop()" [hidden]="btn3">
                     STOP
                    </ion-button>
                <p>{{score}} : {{ascore}}</p>
              </div>
              <div class="awayScore">
                <p>{{item.aTeamObject.teamName}} <br>
                  <sub (click)="matchAction('open', 'away')" style="background: white; color: black; padding: 3px 5px; border-radius: 10px 3px;"><i>Action</i></sub></p>
                <!-- <div class="buttns">
                  <ion-button color="light" size="small" shape="round">
                    Goal
                  </ion-button>
                  <ion-button color="danger" size="small" shape="round">
                    Red Card
                  </ion-button>
                  <ion-button color="secondary" size="small" shape="round">
                    Yellow Card
                  </ion-button>
                  <ion-button color="light" size="small" shape="round">
                    Free Kick
                  </ion-button>
                  <ion-button color="light" size="small" shape="round">
                    Corner Kick
                  </ion-button>
                </div> -->
              </div>
            </div>
            <div class="upComingData">
              <h5>{{mins}}:{{secs}}</h5>
              <p>Starts {{item.startDate | date}}</p>
              <p>Food and Beverage Sold</p>
            </div>
          </div>
          <div class="awayImage">
            <div class="image" (click)="viewTeam('open', 'away', 'object')">
              <img
                src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/kxm6rmrs69f9txyidrjk/zenit-saint-petersburg-2019-20-stadium-home-football-shirt-k1WvdX.jpg"
                alt="">
                <div class="awayButton animated" [ngClass]="{'bounceInRight':matchActionState.away,'bounceOutRight':!matchActionState.away}" >
                  <ion-button size="small" shape="round" color="light" (click)="matchAction('close', 'away')">
                    Goal
                  </ion-button>
                  <ion-button size="small" shape="round" color="danger" (click)=" awaystats('red')">
                    Red Card
                  </ion-button>
                  <ion-button size="small" shape="round" color="warning" (click)=" awaystats('yellow')">
                    Yellow Card
                  </ion-button>
                  <ion-button size="small" shape="round" color="light"  (click)=" awaystats('offsides')">
                    Off Side
                  </ion-button>
                  <ion-button size="small" shape="round" color="light" (click)=" awaystats('corners')">
                    Corner Kick
                  </ion-button>
                </div>
            </div>
          </div>
        </div>
        <ion-segment [(ngModel)]="matchView" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="lineup">
            <ion-label>LineUps</ion-label>
          </ion-segment-button>
          <ion-segment-button value="summary">
            <ion-label>Summary</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div class="list-cont">
          <div class="dummydiv">
            <div class="lineUps animated"
              [ngClass]="{'slideInLeft':matchView=='lineup','slideOutLeft':matchView=='summary'}">
              <div class="away">
                <div class="card" *ngFor="let a of team1" (click)="viewPlayer('open', 'home', 'object')">
                  <div class="number">
                    <p>30'</p>
                  </div>
                  <div class="name">
                    <p>{{a.fullName}}</p>
                  </div>
                  <div class="position">
                    <p>{{a.playerPosition}}</p>
                  </div>
                </div>
              </div>
              <div class="home">
                <div class="card" *ngFor="let a of team2" (click)="viewPlayer('open', 'away', 'object')">
                  <div class="number">
                    <p>30'</p>
                  </div>
                  <div class="name">
                    <p>{{a.fullName}}</p>
                  </div>
                  <div class="position">
                    <p>{{a.playerPosition}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="summary animated"
              [ngClass]="{'slideInRight':matchView=='summary','slideOutRight':matchView=='lineup'}">
              <div class="stats" *ngFor ="let item of currmatch">
                <div class="homeSummary">
                
                  <p>{{item.corners}}</p>
                  <p>{{item.red}}</p>
                  <p>{{item.yellow}}</p>
                  <p>{{item.offsides}}</p>
               
                </div>
                <div class="labels">
                
                  <p>Corners</p>
                  <p>Red Cards</p>
                  <p>Yellow Cards</p>
                   <p>Off Side</p>
                
                </div>
                <div class="awaySummary">
               
                
                  <p>{{item.acorners}}</p>
                  <p>{{item.ared}}</p>
                  <p>{{item.ayellow}}</p>
                  <p>{{item.aoffsides}}</p>
                 
                </div>
              </div>
              <div class="playerCards">
                <div class="homePlayerCards">
                  <div class="card" *ngFor="let item of tempCardGen">
                    <div class="redCard">

                    </div>
                    <div class="yellowCard">

                    </div>
                    <div class="details">
                      <p>Semonye - 3:45</p>
                    </div>
                  </div>
                </div>
                <div class="awayPlayerCards">
                  <div class="card" *ngFor="let item of tempCardGen">
                    <!-- an ngif is required to show if the player got a red or a yellow card for punnishment -->
                    <div class="redCard">

                    </div>
                    <div class="yellowCard">

                    </div>
                    <div class="details">
                      <p>Semonye - 3:45</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="playerAway animated"
        [ngClass]="{'slideInLeft faster':viewingPlayer.away,'slideOutLeft faster':!viewingPlayer.away}">
        <div class="image">
          <div class="playerClose">
            <ion-fab-button size="small" (click)="viewPlayer('close', 'away', 'object')">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </div>
          <img src="https://i.imgflip.com/109szw.jpg" alt="">
          <div class="name">
            <p>Alan Bakes</p>
          </div>
        </div>
        <div class="details">
          <p>Defender</p>
          <span>3.5 m tall</span>
          <br>
          <p>Previous Team(s)</p>
          <span>Bara Team <br> Yarn Team</span>
          <br>
          <hr>
          <p>Acievements</p>
          <span>Best Defender</span> <br>
          <span>Best face maker</span>
        </div>
      </div>
      <div class="teamAway animated"
        [ngClass]="{'slideInLeft':viewingTeam.away,'slideOutLeft faster':!viewingTeam.away}">
        <div class="title">
          <h1>The Academy</h1>
        </div>
        <div class="image">
          <img src="http://www.logocontest.net/48hourslogo_data/2017/02/11/58207_1486782866.jpg" alt="">
        </div>
        <div class="details">
          <p>Coach</p>
          <h4>Mosia Mosia</h4>
          <p>Region</p>
          <h4>Mosia Mosia</h4>
          <p>Phone</p>
          <h4>0124578963</h4>
        </div>
        <div class="teamClose">
          <ion-button (click)="viewTeam('close', 'away', 'obj')">
            Close
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="cmsContentMain">
    <div class="tournaments">
      <div class="links">
        <button>
          All
        </button>
        <button>
          InPlay
        </button>
        <button>
          Upcoming
        </button>
      </div>
      <div class="tournamentList">
        <div class="card" *ngFor="let item of tournament" (click) ='viewdetails(item)'>
          <div class="color">

          </div>
          <div class="details">
            <p id="title"><b>{{item.doc.formInfo.tournamentName}}</b></p>
            <hr>
            <p id="date">{{item.doc.formInfo.startDate | date}} to {{item.doc.formInfo.endDate | date}}</p>
            <p id="location">{{item.doc.formInfo.location}}</p>
          </div>
          <div class="more">
            <div>
              <p>{{item.doc.formInfo.type}} Teams</p>
              <!-- <p>Playing</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tournamentDetails" *ngFor="let item of clicked">
      <div class="details">
        <div>
          <h4>{{item.doc.formInfo.tournamentName}}</h4>
          <p>Top {{item.doc.formInfo.type}}</p>
          <hr>
          <p>{{item.doc.formInfo.type}} Participants</p>
          <p>{{item.doc.formInfo.startDate | date}} to {{item.doc.formInfo.endDate  | date}}</p>
          <hr>
          <p>Application Closing Date <br> {{item.doc.formInfo.applicationClosing  | date}}</p>
        </div>

      </div>
      <div class="matchList">
        <div class="loadingList" *ngIf="fixture.length==0" >
          
            <div class="card">
              <h5>No Matches</h5>
            </div>
          
        </div>
        <div class="card" *ngFor="let item of fixture" (click)="viewmatch('open', item)">
          <div class="date">
            <p>{{item.matchdate | date}}</p>
          </div>
          <div class="aVb">
            <div class="home">
              <p>{{ item.TeamObject.teamName }}</p>
            </div>
            <div class="versus">
              <p>v</p>
            </div>
            <div class="away">
              <p>{{ item.aTeamObject.teamName }}</p>
            </div>
          </div>
          <div class="teamHome">
            <p>Home</p>
          </div>
          <div class="teamAway">
            <p>Away</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>