<ion-content>
    <div class="penalties animated" [ngClass]="{'fadeIn':showPenalties,'fadeOut faster':!showPenalties}" >

      <div class="pCont">
        <div class="pCloser">
          <ion-fab-button (click)="penaltiesPanel('close')" size="small">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </div>
        <div class="titles">
          <div class="main">
            <h1>Penaltes</h1>
          </div>
          <div class="teams">
            <div class="h">
              <p>Home  <ion-badge color="primary" mode="ios">{{hgv}}</ion-badge></p>
            </div>
            <div class="a">
              <p><ion-badge color="primary" mode="ios">{{agv}}</ion-badge> Away </p>
            </div>
          </div>
        </div>
        <div class="interaction">
          <div class="pHome">
            <div class="pButtons">
              <div class="c">
                <ion-button (click)="goal('home')" (click)='hg()' color="success" shape="round">
                  Goal
                </ion-button>
                <ion-button (click)="missed('home')" color="danger" shape="round">
                  Missed
                </ion-button>
              </div>
            </div>
            <div class="pIndicatiors">
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.home.one==null,'goal bounce':penalties.home.one==true,'missed shake':penalties.home.one==false}">

              </div>
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.home.two==null,'goal bounce':penalties.home.two==true,'missed shake':penalties.home.two==false}">
                
              </div>
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.home.three==null,'goal bounce':penalties.home.three==true,'missed shake':penalties.home.three==false}">
                
              </div>
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.home.four==null,'goal bounce':penalties.home.four==true,'missed shake':penalties.home.four==false}">
                
              </div>
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.home.five==null,'goal bounce':penalties.home.five==true,'missed shake':penalties.home.five==false}">
                
              </div>
            </div>
          </div>
          <div class="pAway">
            <div class="pIndicatiors">
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.away.one==null,'goal bounce':penalties.away.one==true,'missed shake':penalties.away.one==false}">

              </div>
              <div class="ind  animated" [ngClass]="{'reset rubberBand':penalties.away.two==null,'goal bounce':penalties.away.two==true,'missed shake':penalties.away.two==false}">
                
              </div>
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.away.three==null,'goal bounce':penalties.away.three==true,'missed shake':penalties.away.three==false}">
                
              </div>
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.away.four==null,'goal bounce':penalties.away.four==true,'missed shake':penalties.away.four==false}">
                
              </div>
              <div class="ind animated" [ngClass]="{'reset rubberBand':penalties.away.five==null,'goal bounce':penalties.away.five==true,'missed shake':penalties.away.five==false}">
                
              </div>
            </div>
            <div class="pButtons">
              <div class="c">
                <ion-button (click)="goal('away')" (click)='ag()' color="success" shape="round">
                  Goal
                </ion-button>
                <ion-button (click)="missed('away')" color="danger" shape="round">
                  Missed
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="viewMatch animated" [ngClass]="{'zoomIn faster':viewingMatch,'zoomOut faster':!viewingMatch}">
    <div class="close" (click)="viewmatch('close', null, null)">
      <ion-icon name="close"></ion-icon>
    </div>
    <div class="matchDiv">

      <!-- HOME PLAYER DIV -->
      <div class="playerHome animated"
        [ngClass]="{'slideInRight':viewingPlayer.home,'slideOutRight faster':!viewingPlayer.home}">
        <div class="image">
          <div class="playerClose">
            <ion-fab-button size="small" (click)="viewPlayer('close', 'home', 'object',0)">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </div>
          <div class="playerImage" *ngFor="let x of playerobj">
            <img *ngIf="x.palyerImage" src='{{x.palyerImage}}' alt="No Image">
            <img *ngIf="!x.palyerImage" src="../../../assets/nathi_noImage.png" alt="">
          </div>
          <div class="name" *ngFor="let x of playerobj">
            <p>{{x.fullName}}</p>
          </div>
        </div>
        <div class="details" *ngFor="let x of playerobj">
          <p>{{x.playerPosition}}</p>
          <span>{{x.height}}m</span>
          <br>
          <p>Previous Team(s)</p>
          <span>{{x.previousTeam}}</span>
          <br>
          <hr>
          <p>Acievements</p>
          <span>{{x.Achievements}}</span> <br>
        </div>
      </div>

      <!-- HOME TEAM DIV -->
      <div class="teamHome animated"
        [ngClass]="{'slideInRight':viewingTeam.home,'slideOutRight faster':!viewingTeam.home}">
        <div class="title" *ngFor="let item of currmatch">
          <h1>{{item.TeamObject.teamName}}</h1>
        </div>

        <div class="image" *ngFor="let item of currmatch">
          <img *ngIf="item.TeamObject.teamLogo"  src="{{item.TeamObject.teamLogo}}" alt="">
          <img *ngIf="!item.TeamObject.teamLogo" src="../../../assets/nathi_noImage.png" alt="">
        </div>
        <div class="details" *ngFor="let item of currmatch">
          <p>Coach</p>
          <h4>{{item.TeamObject.coachName}}</h4>
          <p>Region</p>
          <h4>{{item.TeamObject.region}}</h4>
          <p>Phone</p>
          <h4>{{item.TeamObject.tel}}</h4>
        </div>
        <div class="teamClose">
          <ion-button (click)="viewTeam('close', 'home', 'obj')">
            Close
          </ion-button>
        </div>
      </div>


      <div class="matchDetails">
        <div class="topLine">

        </div>
        <div class="topData">
          <div class="homeImage">
            <div class="image" (click)="viewTeam('open', 'home', 'object')">
              <div class="tImg" *ngFor="let item of currmatch">
                <img *ngIf="item.TeamObject.teamLogo" src="{{item.TeamObject.teamLogo}}" alt="">
                <img *ngIf="!item.TeamObject.teamLogo" src="../../../assets/nathi_noImage.png" alt="">
              </div>
              <div>

              </div>

              <div class="homeButton animated"
                [ngClass]="{'bounceInLeft':matchActionState.home,'bounceOutLeft':!matchActionState.home}"
                *ngIf="activeTourn.state=='inprogress'">
                <ion-button size="small" shape="round" color="light" (click)="matchAction('close', 'home')"
                  (click)="goal1()" [disabled]="disableall">
                  Goal
                </ion-button>
                <ion-button size="small" shape="round" color="danger" (click)="homestats('red')"
                  [disabled]="disableall">
                  Red Card
                </ion-button>
                <ion-button size="small" shape="round" color="warning" (click)="homestats('yellow')"
                  [disabled]="disableall">
                  Yellow Card
                </ion-button>
                <ion-button size="small" shape="round" color="light" (click)="homestats('offsides')"
                  [disabled]="disableall">
                  Off Side
                </ion-button>
                <ion-button size="small" shape="round" color="light" (click)="homestats('corners')"
                  [disabled]="disableall">
                  Corner Kick
                </ion-button>
              </div>
            </div>
          </div>
          <div class="match" *ngFor="let item of currmatch">
            <div class="scores">
              <div class="homeScore">
                <p>{{item.TeamObject.teamName}} <br>
                  <sub *ngIf="activeTourn.state=='inprogress'" (click)="matchAction('open', 'home')"
                    style="background: white; color: black; padding: 3px 5px; border-radius: 3px 10px;"><i>Action</i></sub>
                </p>

              </div>
              <div class="points">
                <div class="butns" *ngIf="activeTourn.state=='inprogress'">

                  <ion-button size="small" shape="round" (click)="radio()" [hidden]='btn1'>
                    {{serve.matchstatus}}
                  </ion-button>

                  <ion-button size="small" shape="round" (click)="stop()" [hidden]='btn2'>
                    Finish
                  </ion-button>

                </div>
                <p>{{score}}&nbsp;&nbsp;:&nbsp;&nbsp;{{ascore}}</p>
                <p style="color: #05a66b; font-size: 11px;">{{btntxt}}</p>
              </div>
              <div class="awayScore">
                <p>{{item.aTeamObject.teamName}} <br>
                  <sub *ngIf="activeTourn.state=='inprogress'" (click)="matchAction('open', 'away')"
                    style="background: white; color: black; padding: 3px 5px; border-radius: 10px 3px;"><i>Action</i></sub>
                </p>
              </div>
            </div>
            <div class="upComingData">
              <h5></h5>
              <p *ngIf="activeTourn.state=='finished'" >Played {{item.startDate | date}}</p>
              <p *ngIf="activeTourn.state!='finished'">Starts {{item.startDate | date}}</p>
              <p *ngIf="activeTourn.approvedVendors.length>0&&activeTourn.state!='finished'">Food will be sold</p>
              <p *ngIf="activeTourn.approvedVendors.length==0&&activeTourn.state!='finished'">No Food Sold</p>
              <ion-button (click)="penaltiesPanel('open')"  color="light" shape="round">
                Penalties
              </ion-button>
            </div>
          </div>
          <div class="awayImage">
            <div class="image" (click)="viewTeam('open', 'away', 'object')">
              <div class="tImg" *ngFor="let item of currmatch">
                <img *ngIf="item.aTeamObject.teamLogo" src="{{item.aTeamObject.teamLogo}}" alt="">
                <img *ngIf="!item.aTeamObject.teamLogo" src="../../../assets/nathi_noImage.png" alt="">
              </div>

              <div class="awayButton animated"
                [ngClass]="{'bounceInRight':matchActionState.away,'bounceOutRight':!matchActionState.away}"
                *ngIf="activeTourn.state=='inprogress'">
                <ion-button size="small" shape="round" color="light" (click)="matchAction('close', 'away')"
                  (click)="goal2()" [disabled]="disableall">
                  Goal
                </ion-button>
                <ion-button size="small" shape="round" color="danger" (click)=" awaystats('red')"
                  [disabled]="disableall">
                  Red Card
                </ion-button>
                <ion-button size="small" shape="round" color="warning" (click)=" awaystats('yellow')"
                  [disabled]="disableall">
                  Yellow Card
                </ion-button>
                <ion-button size="small" shape="round" color="light" (click)=" awaystats('offsides')"
                  [disabled]="disableall">
                  Off Side
                </ion-button>
                <ion-button size="small" shape="round" color="light" (click)=" awaystats('corners')"
                  [disabled]="disableall">
                  Corner Kick
                </ion-button>
              </div>
            </div>
          </div>
        </div>
        <!-- *ngIf="clicked[0].state=='finished'"  -->
        <ion-segment [(ngModel)]="matchView" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="lineup">
            <ion-label>LineUps</ion-label>
          </ion-segment-button>
          <ion-segment-button value="summary">
            <ion-label>Summary</ion-label>
          </ion-segment-button>
        </ion-segment>


        <div class="list-cont">
          <div class="dummydiv">
            <div class="lineUps animated"
              [ngClass]="{'slideInLeft':matchView=='lineup','slideOutLeft':matchView=='summary'}">
              <div class="away">

                <div class="card" *ngFor="let a of team1;let i = index" (click)="viewPlayer('open', 'home',a,0)">
                  <div class="number">
                    <p style="margin: 0 auto;">{{a.playerNumber}}</p>
                  </div>
                  <div class="name">
                    <p>{{a.fullName}}</p>
                  </div>
                  <div class="position">
                    <p>{{a.playerPosition}}</p>
                  </div>
                </div>

              </div>
              <div class="home">
                <div class="card" *ngFor="let a of team2;let i = index" (click)="viewPlayer('open', 'away', a,1)">
                  <div class="number">
                    <p style="margin: 0 auto;">{{a.playerNumber}}</p>
                  </div>
                  <div class="name">
                    <p>{{a.fullName}}</p>
                  </div>
                  <div class="position">
                    <p>{{a.playerPosition}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="summary animated"
              [ngClass]="{'slideInRight':matchView=='summary','slideOutRight':matchView=='lineup'}">
              <div class="stats" *ngFor="let item of currmatch">
                <div class="homeSummary">

                  <p>{{item.corners}}</p>
                  <p>{{item.red}}</p>
                  <p>{{item.yellow}}</p>
                  <p>{{item.offsides}}</p>

                </div>
                <div class="labels">

                  <p>Corners</p>
                  <p>Red Cards</p>
                  <p>Yellow Cards</p>
                  <p>Off Side</p>

                </div>
                <div class="awaySummary">


                  <p>{{item.acorners}}</p>
                  <p>{{item.ared}}</p>
                  <p>{{item.ayellow}}</p>
                  <p>{{item.aoffsides}}</p>

                </div>
              </div>
              <div class="playerCards">
                <div class="homePlayerCards">
                  <div class="card" *ngFor="let g of matchobject.goal">
                    <div class="details">
                      <p>{{g.goalscorer}} - {{g.scoretime}}</p>
                    </div>
                  </div>
                </div>
                <div class="awayPlayerCards">
                  <div class="card" *ngFor="let g of matchobject.agoal">
                    <div class="details">
                      <p>{{g.goalscorer}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="playerAway animated"
        [ngClass]="{'slideInLeft faster':viewingPlayer.away,'slideOutLeft faster':!viewingPlayer.away}">
        <div class="image">
          <div class="playerClose">
            <ion-fab-button size="small" (click)="viewPlayer('close', 'away', 'object',0)">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </div>
          <div class="playerImage"  *ngFor="let x of aplayerobj">
            <img *ngIf="x.palyerImage" src='{{x.palyerImage}}' alt="No Image">
            <img *ngIf="!x.palyerImage" src="../../../assets/nathi_noImage.png" alt="">
          </div>
          <div class="name" *ngFor="let x of aplayerobj">
            <p>{{x.fullName}}</p>
          </div>
        </div>
        <div class="details" *ngFor="let x of aplayerobj">
          <p>{{x.playerPosition}}</p>
          <span>{{x.height}}m</span>
          <br>
          <p>Previous Team(s)</p>
          <span>{{x.previousTeam}}</span>
          <br>
          <hr>
          <p>Acievements</p>
          <span>{{x.Achievements}}</span>
        </div>
      </div>

      <div class="teamAway animated"
        [ngClass]="{'slideInLeft':viewingTeam.away,'slideOutLeft faster':!viewingTeam.away}">
        <div class="title" *ngFor="let item of currmatch">
          <h1>{{item.aTeamObject.teamName}}</h1>
        </div>
        <div class="image" *ngFor="let item of currmatch">
          <img *ngIf="item.aTeamObject.teamLogo"  src="{{item.aTeamObject.teamLogo}}" alt="">
          <img *ngIf="!item.aTeamObject.teamLogo" src="../../../assets/nathi_noImage.png" alt="">
        </div>
        <div class="details" *ngFor="let item of currmatch">
          <p>Coach</p>
          <h4>{{item.aTeamObject.coachName}}</h4>
          <p>Region</p>
          <h4>{{item.aTeamObject.region}}</h4>
          <p>Phone</p>
          <h4>{{item.aTeamObject.tel}}</h4>
        </div>
        <div class="teamClose">
          <ion-button (click)="viewTeam('close', 'away', 'obj')">
            Close
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="cmsContentMain">
    <div class="tournaments">
      <div class="links">
        <button (click)="changeview('all')" [ngClass]="{'activeFilter':filterBy=='all'}">
          All
        </button>
        <button (click)="changeview('newTournament')" [ngClass]="{'activeFilter':filterBy=='newTournament'}">
          Upcoming
        </button>
        <button (click)="changeview('inprogress')" [ngClass]="{'activeFilter':filterBy=='inprogress'}">
          InPlay
        </button>
        <button (click)=" changeview('finished')" [ngClass]="{'activeFilter':filterBy=='finished'}">
          History
        </button>
      </div>
      <div class="tournamentList animated">
        <div class="card empty animated fadeIn" *ngIf="tournament.length == 0">
          <h2>There's nothing in this section yet.</h2>
        </div>
        <!-- selectedTourn -->
        <div class="card" *ngFor="let item of tournament; let i=index"
          [ngClass]="{'newTorunament':item.state=='newTournament','inProgress':item.state=='inprogress','finnishedTournament':item.state=='finished','selectedTourn':selectedTorun==i}">
          <div class="color" [ngClass]="{'selectedT':selectedTorun==i,'selectedT-cl':selectedTorun!=i}">

          </div>
          <div class="viewTimeline animated fadeIn"
            [ngClass]="{'timelineHeight__o':timeLineIndx==i,'timelineHeight__c':timeLineIndx!=i}">
            <div class="page">
              <div class="timeline">
                <div class="timeline__group" *ngFor="let c of childrenarray">
                  <span class="timeline__year">{{c.formInfo.startDate | date:'yyyy'}}</span>
                  <div class="timeline__box">
                    <div class="timeline__date">
                      <span class="timeline__day">{{c.formInfo.startDate | date:'MM'}}</span>
                      <span class="timeline__month">{{c.formInfo.startDate | date:'MMM'}}</span>
                    </div>
                    <div class="timeline__post">
                      <div class="timeline__content">
                        <h1>{{c.formInfo.tournamentName}}</h1>
                        <p>{{c.formInfo.bio}}</p>
                        <ion-button fill="outline" shape="round" color="success" size="small"
                          (click)="childreDetails(c, i)">Details</ion-button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </div>
          <div class="details" (click)='viewdetails(item, i)'>

            <p id="title"><b>{{item.formInfo.tournamentName}}</b> </p>
            <hr>
            <p id="date">{{item.formInfo.startDate | date}} to {{item.formInfo.endDate | date}}</p>
            <p id="location">{{item.formInfo.location}}</p>

          </div>
          <div class="more">
            <div>
              <p *ngIf="item.formInfo.type>=1">{{item.formInfo.type}} Match(s) Left</p>
              <p *ngIf="item.formInfo.type==0">No Matches</p>
            </div>
            <!-- -->

          </div>
          <div class="recuring" *ngIf="item.message">
            <ion-chip size="small" fill="clear" color="danger">
              <ion-label>
                <ion-icon name="refresh"></ion-icon>
              </ion-label>
            </ion-chip>
          </div>
          <div class="childre" *ngIf="item.message" [ngClass]="{'timelineInd':timeLineIndx!=i}">
            <ion-button color="dark" size="small" fill="clear" shape="round" (click)="viewchildren(item,i)">History
            </ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="noTournamentDetails tournamentDetails animated fadeIn" *ngIf="clicked.length==0">
      <div class="details">
        <div>
          <h1 style="font-size: 1em;">Click on the Tournament to view it's details</h1>

        </div>

      </div>
      <div class="matchList">
        <div class="loadingList">

          <div class="card">
            <h5>Matches will list here</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="tournamentDetails" *ngFor="let item of clicked">
      <div class="details">
        <div>
          <h4 style="font-size:2em; letter-spacing: 5px;"> {{item.formInfo.tournamentName}}</h4>
          <p style="color: gray;">Top {{item.formInfo.type}}</p>
          <hr>
          <p style="font-size: 1.7vw;" *ngIf="item.formInfo.type>=1">{{item.formInfo.type}} Match(s) Left</p>
          <p *ngIf="item.formInfo.type==0">No Matches</p>
          <!-- <p style="font-size: 1.3vw;">{{item.formInfo.startDate | date}} to {{item.formInfo.endDate  | date}}</p> -->
          <hr>
          <p style="    font-size: 1.1vw;">Application Closing Date <br> {{item.formInfo.applicationClosing  | date}}
          </p>
          <br>
          <ion-segment scrollable="true" *ngIf="activeTourn.state=='finished'" [(ngModel)]="pastMatchCat"
            (ionChange)="finnishedMatchSegment($event)">
            <ion-segment-button *ngIf="match.type16.length>0" mode="ios" value="top32" color="primary">
              <ion-label>Top 32</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="match.type8.length>0" mode="ios" value="top16">
              <ion-label>Top 16</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="ios" value="top8">
              <ion-label>Top 8</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="ios" value="top4">
              <ion-label>Semi-Final</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="ios" value="top1">
              <ion-label>Final</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      </div>

      <div class="matchList">
        <div class="loadingList" *ngIf="fixture.length==0">

          <div class="card animated fadeIn">
            <h5>No Matches</h5>
          </div>

        </div>
        <div class="card" *ngFor="let item of fixture; let a = index" (click)="viewmatch('open', item,a)">
          <div class="date">
            <p>{{item.matchdate | date}}</p>
          </div>
          <div class="aVb">
            <div class="home">
              <p>{{ item.TeamObject.teamName }}</p>
            </div>
            <div class="versus">
              <p *ngIf="activeTourn.state=='finished'">{{item.score}} FT {{item.ascore}}</p>
              <p *ngIf="activeTourn.state!='finished'">v</p>
            </div>
            <div class="away">
              <p>{{ item.aTeamObject.teamName }}</p>
            </div>
          </div>
          <div class="teamHome">
            <p>Home</p>
          </div>
          <div class="teamAway">
            <p>Away</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>