<ion-content>
  <div class="viewMatch animated" [ngClass]="{'zoomIn faster':viewingMatch,'zoomOut faster':!viewingMatch}">
    <div class="close" (click)="viewmatch('close', null, null)">
      <ion-icon name="close"></ion-icon>
    </div>
    <div class="matchDiv">
      <div class="playerHome animated"
        [ngClass]="{'slideInRight':viewingPlayer.home,'slideOutRight faster':!viewingPlayer.home}">
        <div class="image">
          <div class="playerClose">
            <ion-fab-button size="small" (click)="viewPlayer('close', 'home', 'object',0)">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </div>
          <div *ngFor="let x of playerobj">
            <img [src]='x.palyerImage' alt="No Image">
          </div>
          <div class="name" *ngFor="let x of playerobj">
            <p>{{x.fullName}}</p>
          </div>
        </div>
        <div class="details" *ngFor="let x of playerobj">
          <p>{{x.playerPosition}}</p>
          <span>{{x.height}}m</span>
          <br>
          <p>Previous Team(s)</p>
          <span>{{x.previousTeam}}</span>
          <br>
          <hr>
        </div>
      </div>
      <div class="teamHome animated"
        [ngClass]="{'slideInRight':viewingTeam.home,'slideOutRight faster':!viewingTeam.home}">
        <div class="title" *ngFor="let item of currmatch">
          <h1>{{item.TeamObject.teamName}}</h1>
        </div>

        <div class="image" *ngFor="let item of currmatch">
          <img src="{{item.TeamObject.teamLogo}}" alt="">
        </div>
        <div class="details" *ngFor="let item of currmatch">
          <p>Coach</p>
          <h4>{{item.TeamObject.coachName}}</h4>
          <p>Region</p>
          <h4>{{item.TeamObject.region}}</h4>
          <p>Phone</p>
          <h4>{{item.TeamObject.tel}}</h4>
        </div>
        <div class="teamClose">
          <ion-button (click)="viewTeam('close', 'home', 'obj')">
            Close
          </ion-button>
        </div>
      </div>


      <div class="matchDetails">
        <div class="topLine">

        </div>
        <div class="topData">
          <div class="homeImage">
            <div class="image" (click)="viewTeam('open', 'home', 'object')">
              <img *ngFor="let item of currmatch" src="{{item.TeamObject.teamLogo}}" alt="">
              <div class="homeButton animated"
                [ngClass]="{'bounceInLeft':matchActionState.home,'bounceOutLeft':!matchActionState.home}"
                *ngIf="activeTourn.state=='inprogress'">
                <ion-button size="small" shape="round" color="light" (click)="matchAction('close', 'home')"
                  (click)="goal1()">
                  Goal
                </ion-button>
                <ion-button size="small" shape="round" color="danger" (click)="homestats('red')">
                  Red Card
                </ion-button>
                <ion-button size="small" shape="round" color="warning" (click)="homestats('yellow')">
                  Yellow Card
                </ion-button>
                <ion-button size="small" shape="round" color="light" (click)="homestats('offsides')">
                  Off Side
                </ion-button>
                <ion-button size="small" shape="round" color="light" (click)="homestats('corners')">
                  Corner Kick
                </ion-button>
              </div>
            </div>
          </div>
          <div class="match" *ngFor="let item of currmatch">
            <div class="scores">
              <div class="homeScore">
                <p>{{item.TeamObject.teamName}} <br>
                  <sub *ngIf="activeTourn.state=='inprogress'" (click)="matchAction('open', 'home')"
                    style="background: white; color: black; padding: 3px 5px; border-radius: 3px 10px;"><i>Action</i></sub>
                </p>

              </div>
              <div class="points">
                <div class="butns" *ngIf="activeTourn.state=='inprogress'">

                  <ion-button size="small" shape="round" (click)="radio()" [hidden]='btn1'>
                    {{serve.matchstatus}}
                  </ion-button>

                  <ion-button size="small" shape="round" (click)="stop()" [hidden]='btn2'>
                    Finish
                  </ion-button>

                </div>
                <p>{{score}} : {{ascore}}</p>
                <p>{{btntxt}}</p>
              </div>
              <div class="awayScore">
                <p>{{item.aTeamObject.teamName}} <br>
                  <sub *ngIf="activeTourn.state=='inprogress'" (click)="matchAction('open', 'away')"
                    style="background: white; color: black; padding: 3px 5px; border-radius: 10px 3px;"><i>Action</i></sub>
                </p>
              </div>
            </div>
            <div class="upComingData">
              <h5></h5>
              <p>Starts {{item.startDate | date}}</p>
              <p *ngIf="activeTourn.approvedVendors.length>0&&activeTourn.state!='finished'">Food will be sold</p>
              <p *ngIf="activeTourn.approvedVendors.length==0&&activeTourn.state!='finished'">No Food Sold</p>
            </div>
          </div>
          <div class="awayImage">
            <div class="image" (click)="viewTeam('open', 'away', 'object')">
              <img *ngFor="let item of currmatch" src="{{item.aTeamObject.teamLogo}}" alt="">
              <div class="awayButton animated"
                [ngClass]="{'bounceInRight':matchActionState.away,'bounceOutRight':!matchActionState.away}"
                *ngIf="activeTourn.state=='inprogress'">
                <ion-button size="small" shape="round" color="light" (click)="matchAction('close', 'away')"
                  (click)="goal2()">
                  Goal
                </ion-button>
                <ion-button size="small" shape="round" color="danger" (click)=" awaystats('red')">
                  Red Card
                </ion-button>
                <ion-button size="small" shape="round" color="warning" (click)=" awaystats('yellow')">
                  Yellow Card
                </ion-button>
                <ion-button size="small" shape="round" color="light" (click)=" awaystats('offsides')">
                  Off Side
                </ion-button>
                <ion-button size="small" shape="round" color="light" (click)=" awaystats('corners')">
                  Corner Kick
                </ion-button>
              </div>
            </div>
          </div>
        </div>
        <!-- *ngIf="clicked[0].state=='finished'"  -->
        <ion-segment [(ngModel)]="matchView" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="lineup">
            <ion-label>LineUps</ion-label>
          </ion-segment-button>
          <ion-segment-button value="summary">
            <ion-label>Summary</ion-label>
          </ion-segment-button>
        </ion-segment>


        <div class="list-cont">
          <div class="dummydiv">
            <div class="lineUps animated"
              [ngClass]="{'slideInLeft':matchView=='lineup','slideOutLeft':matchView=='summary'}">
              <div class="away">
                <div class="card" *ngFor="let a of team1;let i = index" (click)="viewPlayer('open', 'home',a,0)">
                  <div class="number">
                    <p style="margin: 0 auto;">{{i}}</p>
                  </div>
                  <div class="name">
                    <p>{{a.fullName}}</p>
                  </div>
                  <div class="position">
                    <p>{{a.playerPosition}}</p>
                  </div>
                </div>
              </div>
              <div class="home">
                <div class="card" *ngFor="let a of team2;let i = index" (click)="viewPlayer('open', 'away', a,1)">
                  <div class="number">
                    <p style="margin: 0 auto;">{{i}}</p>
                  </div>
                  <div class="name">
                    <p>{{a.fullName}}</p>
                  </div>
                  <div class="position">
                    <p>{{a.playerPosition}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="summary animated"
              [ngClass]="{'slideInRight':matchView=='summary','slideOutRight':matchView=='lineup'}">
              <div class="stats" *ngFor="let item of currmatch">
                <div class="homeSummary">

                  <p>{{item.corners}}</p>
                  <p>{{item.red}}</p>
                  <p>{{item.yellow}}</p>
                  <p>{{item.offsides}}</p>

                </div>
                <div class="labels">

                  <p>Corners</p>
                  <p>Red Cards</p>
                  <p>Yellow Cards</p>
                  <p>Off Side</p>

                </div>
                <div class="awaySummary">


                  <p>{{item.acorners}}</p>
                  <p>{{item.ared}}</p>
                  <p>{{item.ayellow}}</p>
                  <p>{{item.aoffsides}}</p>

                </div>
              </div>
              <div class="playerCards">
                <div class="homePlayerCards">
                  <div class="card" *ngFor="let g of matchobject.goal">
                    <div class="details">
                      <p>{{g.goalscorer}} - {{g.scoretime}}</p>
                    </div>
                  </div>
                </div>
                <div class="awayPlayerCards">
                  <div class="card" *ngFor="let g of matchobject.agoal">
                    <div class="details">
                      <p>{{g.goalscorer}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="playerAway animated"
        [ngClass]="{'slideInLeft faster':viewingPlayer.away,'slideOutLeft faster':!viewingPlayer.away}">
        <div class="image">
          <div class="playerClose">
            <ion-fab-button size="small" (click)="viewPlayer('close', 'away', 'object',0)">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </div>
          <div *ngFor="let x of aplayerobj">
            <img [src]='x.palyerImage' alt="No Image">
          </div>
          <div class="name" *ngFor="let x of aplayerobj">
            <p>{{x.fullName}}</p>
          </div>
        </div>
        <div class="details" *ngFor="let x of aplayerobj">
          <p>{{x.playerPosition}}</p>
          <span>{{x.height}}m</span>
          <br>
          <p>Previous Team(s)</p>
          <span>{{x.previousTeam}}</span>
          <br>
          <hr>
          <p>Acievements</p>
          <span>Best Defender</span> <br>
          <span>Best face maker</span>
        </div>
      </div>

      <div class="teamAway animated"
        [ngClass]="{'slideInLeft':viewingTeam.away,'slideOutLeft faster':!viewingTeam.away}">
        <div class="title" *ngFor="let item of currmatch">
          <h1>{{item.aTeamObject.teamName}}</h1>
        </div>
        <div class="image" *ngFor="let item of currmatch">
          <img src="{{item.aTeamObject.teamLogo}}" alt="">
        </div>
        <div class="details" *ngFor="let item of currmatch">
          <p>Coach</p>
          <h4>{{item.aTeamObject.coachName}}</h4>
          <p>Region</p>
          <h4>{{item.aTeamObject.region}}</h4>
          <p>Phone</p>
          <h4>{{item.aTeamObject.tel}}</h4>
        </div>
        <div class="teamClose">
          <ion-button (click)="viewTeam('close', 'away', 'obj')">
            Close
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="cmsContentMain">
    <div class="tournaments">
      <div class="links">
        <button (click)="changeview('all')" [ngClass]="{'activeFilter':filterBy=='all'}">
          All
        </button>
        <button (click)="changeview('newTournament')" [ngClass]="{'activeFilter':filterBy=='newTournament'}">
          Upcoming
        </button>
        <button (click)="changeview('inprogress')" [ngClass]="{'activeFilter':filterBy=='inprogress'}">
          InPlay
        </button>
        <button (click)=" changeview('finished')" [ngClass]="{'activeFilter':filterBy=='finished'}">
          History
        </button>
      </div>
      <div class="tournamentList">
        <div class="card empty" *ngIf="tournament.length == 0">
          <h2>There's nothing in this section yet.</h2>
        </div>
        <div class="card" *ngFor="let item of tournament; let i=index"
          [ngClass]="{'newTorunament':item.state=='newTournament','inProgress':item.state=='inprogress','finnishedTournament':item.state=='finished'}"
          (click)='viewdetails(item, i)'>
          <div class="color" [ngClass]="{'selectedT':selectedTorun==i,'selectedT-cl':selectedTorun!=i}">

          </div>
          <div class="viewTimeline">
            <div class="page">
              <div class="timeline">
                <div class="timeline__group">
                  <span class="timeline__year">2008</span>
                  <div class="timeline__box">
                    <div class="timeline__date">
                      <span class="timeline__day">2</span>
                      <span class="timeline__month">Feb</span>
                    </div>
                    <div class="timeline__post">
                      <div class="timeline__content">
                        <h1>Premier League</h1>
                        <p>While the Premier League consists of solely English teams, it is the most-watched soccer tournament in the world, attracting an average of 4.7 billion people. Despite there being much competition, only six soccer clubs have managed to win the Premier League.</p>
                        <ion-button fill="outline" size="small">Details</ion-button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </div>
          <div class="details">
            <p id="title"><b>{{item.formInfo.tournamentName}}</b></p>
            <hr>
            <p id="date">{{item.formInfo.startDate | date}} to {{item.formInfo.endDate | date}}</p>
            <p id="location">{{item.formInfo.location}}</p>
          </div>
          <div class="more">
            <div>
              <p *ngIf="item.formInfo.type>=1">{{item.formInfo.type}} Match(s) Left</p>
              <p *ngIf="item.formInfo.type==0">No Matches</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="noTournamentDetails tournamentDetails" *ngIf="clicked.length==0">
      <div class="details">
        <div>
          <h1 style="font-size: 1em;">Click on the Tournament to view it's details</h1>

        </div>

      </div>
      <div class="matchList">
        <div class="loadingList">

          <div class="card">
            <h5>Matches will list here</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="tournamentDetails" *ngFor="let item of clicked">
      <div class="details">
        <div>
          <h4 style="font-size:2em; letter-spacing: 5px;"> {{item.formInfo.tournamentName}}</h4>
          <p style="color: gray;">Top {{item.formInfo.type}}</p>
          <hr>
          <p style="font-size: 1.7vw;" *ngIf="item.formInfo.type>=1">{{item.formInfo.type}} Match(s) Left</p>
          <p *ngIf="item.formInfo.type==0">No Matches</p>
          <!-- <p style="font-size: 1.3vw;">{{item.formInfo.startDate | date}} to {{item.formInfo.endDate  | date}}</p> -->
          <hr>
          <p style="    font-size: 1.1vw;">Application Closing Date <br> {{item.formInfo.applicationClosing  | date}}
          </p>
          <br>
          <ion-segment scrollable="true" *ngIf="activeTourn.state=='finished'" [(ngModel)]="pastMatchCat"
            (ionChange)="finnishedMatchSegment($event)">
            <ion-segment-button *ngIf="match.type16.length>0" mode="ios" value="top32" color="primary">
              <ion-label>Top 32</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="match.type8.length>0" mode="ios" value="top16">
              <ion-label>Top 16</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="ios" value="top8">
              <ion-label>Top 8</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="ios" value="top4">
              <ion-label>Semi-Final</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="ios" value="top1">
              <ion-label>Final</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      </div> <br>

      <div class="matchList">
        <div class="loadingList" *ngIf="fixture.length==0">

          <div class="card">
            <h5>No Matches</h5>
          </div>

        </div>
        <div class="card" *ngFor="let item of fixture; let a = index" (click)="viewmatch('open', item,a)">
          <div class="date">
            <p>{{item.matchdate | date}}</p>
          </div>
          <div class="aVb">
            <div class="home">
              <p>{{ item.TeamObject.teamName }}</p>
            </div>
            <div class="versus">
              <p *ngIf="activeTourn.state=='finished'">{{item.score}} FT {{item.ascore}}</p>
              <p *ngIf="activeTourn.state!='finished'">v</p>
            </div>
            <div class="away">
              <p>{{ item.aTeamObject.teamName }}</p>
            </div>
          </div>
          <div class="teamHome">
            <p>Home</p>
          </div>
          <div class="teamAway">
            <p>Away</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>