<ion-content>
  <!-- shows to ask if you manually want to create fixtures or automatically make them -->
  <div class="chooseFixtureConfig animated"
    [ngClass]="{'zoomIn faster':chooseConfigOption,'zoomOut fast':!chooseConfigOption}">
    <div class="closebutton">
      <ion-fab-button size="small" color="success" (click)="promptFixtureConfig('close', null)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </div>
    <div class="middlediv">
      <h1>Fixtures</h1>
      <p>Do you want to manually create fixtures, or can we generate it for you?</p>
      <br>
      <p><sub>You still have to set the time, date and location for each match.</sub></p>

      <hr>

      <ion-button color="success" shape="round"  (click)="generate()">
        Generate it
      </ion-button>
      <br>
      <ion-button  fill="clear" color="light" (click)="setUpTimeLine('open',null)">
        I'll do it
      </ion-button>
    </div>
  </div>

  <!-- shows when you have to construct a match from the list of teams -->
  <div class="setUpTimeline animated" [ngClass]="{'fadeInUp':timeLineSetup,'fadeOutDown fast':!timeLineSetup}">
    <div class="closebutton">
      <ion-fab-button size="small" color="success" (click)="setUpTimeLine('close',null)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </div>
    <div class="container">
      <div class="teams">
        <div class="header">
          <p>Teams</p>
          <p><sub>Drag and drop a team to a side</sub></p>
        </div>
        <div class="teamList">
          <div class="card" *ngFor="let item of tempCardGen">
            <h5>Kasi Team</h5>
            <p>Manager <b>Name Surname</b></p>
          </div>
        </div>
      </div>
      <div class="fixture">
        <div class="head">
          <h1>Fixture</h1>
          <div class="step"> <sub>Step 1 / 2</sub></div>
        </div>
        <div class="hVSa">
          <div class="headers">
            <div class="hometitle">
              <h4>Home</h4>
            </div>
            <div class="v">
              <h4>vs</h4>
            </div>
            <div class="awayTitle">
              <h4>Away</h4>
            </div>
          </div>
          <div class="lists">
            <div class="homeList">

              <div class="card" *ngFor="let item of hparticipants">
                <h5>{{item.teamName}}</h5>
                <p>Coach<b>{{item.TeamObject.coachName}}</b></p>
              </div>
            </div>
            <div class="awayList">
              <div class="doneButton">
                <ion-button (click)="fixtureSetUp('open')">
                  Done
                </ion-button>
              </div>
              <div class="card" *ngFor="let item of aparticipants">
                <h5>{{item.teamName}}</h5>
                <p>Coach<b>{{item.TeamObject.coachName}}</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- shows when you have to select the date, time of the matches -->
  <div class="setupFixtures animated" [ngClass]="{'fadeInUp':setUpFixtures,'fadeOutDown fast':!setUpFixtures}">
    <div class="closebutton">
      <ion-fab-button size="small" color="success" (click)="fixtureSetUp('close')">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </div>
    <div class="matches">
      <div class="header">
        <div class="title">
          <h1>Matches</h1>
          <p><sub>Select Time, Date, Location for each match</sub></p>
        </div>
        <div class="button">
          <ion-button shape="round" color="success" size="small" (click)="savefixture()">
            Create Timeline
          </ion-button>
        </div>

      </div>
      <div class="teamList">
        <div class="card" *ngFor="let item of fixture">




          <div class="details">
            <h4>{{ item.TeamObject.teamName }} vs {{ item.aTeamObject.teamName }}</h4>
          </div>
          <div class="inputs">
            <!--    [(ngModel)] =item.matchdate -->
            <ion-datetime displayFormat="D MMM, YY - HH:mm a" min="2019-11-22" max="2020-12-31" placeholder="Date, Time"
              [(ngModel)]=item.matchdate></ion-datetime>
          </div>
        </div>
      </div>
    </div>
    <div class="fixtures">
      <div class="header">
        <div class="title">
          <h1>Fixture</h1>
          <ion-button shape="round" color="success" size="small" (click)="editfixture()" [disabled] ="makechanges">
            Make Changes
          </ion-button>
          <ion-button shape="round" color="success" size="small" (click)="fixtureSetUp('close')"
            (click)="createfixture()"  [disabled] ="makechanges">
            Create Fixture
          </ion-button>
        </div>
        <div class="div">
          <p><sub>Step-2/2</sub></p>
        </div>
      </div>
      <div class="fixtureList">
        <div class="card" *ngFor="let item of fixtures">
          <div class="date">
            <p>{{item.matchdate | date}}, Location {{item.location}}</p>
          </div>
          <div class="aVb">
            <div class="home">
              <p>{{ item.TeamObject.teamName }}</p>
            </div>
            <div class="versus">
              <p>v</p>
            </div>
            <div class="away">
              <p>{{ item.aTeamObject.teamName }}</p>
            </div>
          </div>
          <div class="teamHome">
            <p>Home</p>
          </div>

          <div class="teamAway">
            <p>Away</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- shows when you have to accept or decline applications, search for references and conform team payment -->
  <div class="setUpApplications animated" [ngClass]="{'fadeInUp':setUpApplications,'fadeOutDown':!setUpApplications}">
    
    <!-- CLOSE BUTTON -->
    <div class="closebutton">
      <ion-fab-button size="small" color="success" (click)="finnishSetup(null, 'close')">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </div>

    <!-- LIST OF APPLICATIONS -->
    <div class="applications">
      <div class="head">

        <!-- VENDOR APPLICATIONS -->
        <div [ngClass]="{'vendorApplications':vedorApplications,'vendorApplications-close':!vedorApplications}">
          <div *ngIf="vendorsapplicationArray.length==0">
            <p>no vendor applications</p>
          </div>
          <div class="card" *ngFor="let v of vendorsapplicationArray">

            <div class="teamInfo">
              <p><b>{{v.doc.vendorobject.form.fullName}}</b></p>
              <p>{{v.doc.vendorobject.form.phoneNumber}}</p>
            </div>
            <div class="buttons">
              <ion-button (click)="acceptVendorApplication(v)" shape="round" size="small" color="success">
                Accept
              </ion-button>
              <ion-button (click)="declineVendorApplication(v)" shape="round" size="small" color="danger" >
                Decline
              </ion-button>
            </div>
          </div>
        </div>
        <p>Applications</p>
        <ion-button shape="round" color="light" *ngIf="!vedorApplications" (click)="vendorApplications('open')">
          Vendors
        </ion-button>
        <ion-button shape="round" color="light" *ngIf="vedorApplications" (click)="vendorApplications('close')">
          Done
        </ion-button>
      </div>

      <!-- NEW TEAM APPLICATIONS -->
      <div class="applicationList">
        <div class="card" *ngIf="tournamentApplications.length == 0" >
          <p style="text-align: center;margin: 10px auto;">No Applications</p>
        </div>
        <div class="card" *ngFor="let team of tournamentApplications">
          <div class="teamInfo">
            <p><b>{{team.doc.TeamObject.teamName}}</b></p>
            <p>Manager: {{team.doc.TeamObject.managerName}}</p>
          </div>
          <div class="buttons">
            <ion-button shape="round" size="small" color="success" (click)="accept(team)"   [disabled]="disablepaid">
              Accept
            </ion-button>
            <ion-button shape="round" size="small" color="danger" (click)="decline(team)" [disabled]="disablepaid">
              Decline
            </ion-button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- TOURNAMENT DETAILS -->
    <div class="management">
      <div class="tournamentData" *ngFor="let x of tourndetails">
        <h1 style="font-size: 5vw;
        letter-spacing: 10px;">{{x.doc.formInfo.tournamentName}}</h1>
        <div class="splitter">
          <div class="one">
            <p>{{x.doc.formInfo.type}} Participants | {{TournSelectedObj.doc.ApprovedVendorApplications}} Vendor(s)</p>
            <hr>
            <p>Starts {{x.doc.formInfo.startDate | date}} Ends {{x.doc.formInfo.endDate | date}}</p>
            <p style="color: orangered;">Fee - R{{x.doc.formInfo.joiningFee}}</p>
          </div>
          <div class="two">
            <p><b>Applications Close {{x.doc.formInfo.applicationClosing | date}}</b></p>
            
            <hr>
            <div class="spnors">
              <p>Sponsors</p>
            <span *ngFor="let i of x.doc.sponsors"><img src="{{i.sponsorImage}}"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="verificationScreen">

        <!-- ACCEPTED APPLICATIONS -->
        <div class="acceptedApplications">
          <div class="head">
            <h1>Accepted Applications <sub>Still to pay</sub></h1>
          </div>

          <!-- SEARCH INPUT -->
          <div class="searcher">
            <ion-input type="text" placeholder="Search Reference Number"     (keyup)="getItems($event)"  ></ion-input>
          </div>
          <!-- TEAM APPLICATIONS STILL TO PAY -->
          <div class="stillToPayList">
            <div class="managerApplications">
              <div class="card" *ngIf="acceptedSearchResults.length==0" >
                <p style="margin: auto;text-align: center;">No Applications</p>
              </div>
              <div class="card" *ngFor="let item of acceptedSearchResults">
                <div class="details">
                  <h5 style="margin: 0;">{{item.TeamObject.teamName}}</h5>
                  <p style="margin: 0;">Coach <b>{{item.TeamObject.coachName}}</b></p>
                </div>
                <div class="stillToPayList">
                </div>
                <div *ngFor="let i of acceptedVendor ">
                  <p>{{i.refNumber}}</p>
                </div>
                <ion-button (click)="paid(item)" [disabled]="disablepaid">{{item.refNumber}}</ion-button>
              </div>
            </div>

            <div class="head">
              <h1>Vendor Applications <sub>Still to pay</sub></h1>
            </div>
            <div class="vendorApplications">
              <div class="card" *ngIf="vendorssearchArray.length==0" >
                <p style="margin: auto;text-align: center;">No Applications</p>
              </div>
              <div class="card" *ngFor="let v of vendorssearchArray">
                <div class="details">
                  <p><b>{{v.doc.vendorobject.form.fullName}}</b></p>
                  <p>{{v.doc.vendorobject.form.phoneNumber}}</p>
                </div>
                <div class="stillToPayList">
                </div>
                <div *ngFor="let i of acceptedVendor ">
                </div>
                <ion-button (click)="paidVendor(v)">{{v.doc.refNumber}}</ion-button>
              </div>
            </div>
          </div>
        </div>

        <!-- PAID APPLICATIONS -->
        <div class="participatingTeams">
          <div class="complete" *ngIf="!blockfixture">
            <ion-button shape="round" style="margin: auto;"   (click)="complete()">
              Complete
            </ion-button>
          </div>
          <div class="head">
          <h1>Participating Teams <sub>Paid</sub><ion-badge mode="ios">{{cparticipants.length}}</ion-badge> </h1>
          </div>
          <div class="paidList" >
            
            <div class="card" *ngIf="cparticipants.length==0" ><p style="margin: auto; text-align: center;">No Applications</p></div>
            <div class="card" *ngFor="let item of cparticipants" >
              <div class="details">
                <h5 style="margin: 0px ;
                font-size: 2em;">{{item.TeamObject.teamNamme}}</h5>
                <p style="margin: 0px 0px 0px 10px;
                font-size: 0.8em;">{{item.TeamObject.coachName}}
                <p style="margin: 0px 0px 0px 10px;
                font-weight: bold;">{{item.TeamObject.teamName}}</p>
                <p style="margin: 0px 0px 0px 10px;
                color: gray;">{{item.tournamentName}}</p>
                <!-- <p style="margin: 0;">Manager <b>Name Surname</b></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- shows when you click create tournament button -->
  <div class="newTournamentForm animated" [ngClass]="{'flipInX': creatingTournament,'flipOutX': !creatingTournament}">
    <div class="form">
      <form (ngSubmit)="newTournament(newTournForm.value)" [formGroup]="newTournForm">
        <div class="header">
          <ion-item>
            <ion-label position="floating">Tournament Name</ion-label>
            <ion-input type="text" formControlName="tournamentName"></ion-input>
          </ion-item>
        </div>
        <div class="inputs">
          <ion-item>
            <ion-label position="floating">Tournament Type</ion-label>
            <ion-select color="light" formControlName="type">
              <ion-select-option value="8">Top 8</ion-select-option>
              <ion-select-option value="16">Top 16</ion-select-option>
              <ion-select-option value="32">Top 32</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="results">
            <p *ngFor="let g of searchResults" (click)="selectLocation(g)"> {{g}} </p>
            <div class='count' *ngIf="searchResults.length > 0">
              {{searchResults.length}}
            </div>
          </div>
          <ion-item>
            <ion-label position="floating">Location</ion-label>
          <ion-input type="text" value="{{userLocation}}" (keyup)="getLocation($event)" formControlName="location"></ion-input>

            <!-- <ion-input type="text" formControlName="location"></ion-input> -->
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tournament Starts</ion-label>
          <ion-datetime displayFormat="DD MMMM YYYY" min="{{tournToday}}" formControlName="startDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tournament Ends</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY" min="{{tournToday}}" formControlName="endDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Joining Fee</ion-label>
            <ion-input type="number" formControlName="joiningFee"></ion-input>
          </ion-item>
          <ion-item>
            <!--  -->
  <ion-label position="floating">Description</ion-label>
  <ion-textarea maxlength="150" formControlName="bio"  autoGrow="true" spellcheck="true"></ion-textarea>
</ion-item>
          <ion-item>
            <ion-label position="floating">Application Closing Date</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY" min="{{tournToday}}" formControlName="applicationClosing"></ion-datetime>
          </ion-item>
        </div>
        <div class="sButton">
          <!--  -->
          <ion-button type="submit" *ngIf="newTournForm.valid" shape="round">
            Submit Tournament
          </ion-button>
          <ion-button *ngIf="!newTournForm.valid" shape="round" disabled=true>
            Submit Tournament
          </ion-button>
        </div>
        <div class="closeButton">
          <ion-fab-button style="margin: 0;" shape="round" size="small" color="danger"
            (click)="toggleTournamentForm('close')">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </div>
      </form>
      <div class="sponsors">
        <div class="buttons">
          <ion-item>
            <ion-label>Sponsor Logo</ion-label>
            <ion-input type="file" accept="image/*" multiple="false" (change)="selectimage($event.target.files)">
            </ion-input>
          </ion-item>
            <ion-progress-bar value="{{progressOfImage/100}}"></ion-progress-bar>
          <ion-item>
            <ion-label>Sponsor Name</ion-label>
            <ion-input [(ngModel)]="sponsorName"> </ion-input>
          </ion-item>
          <ion-button shape="round" size="small" disabled="true" *ngIf="!sponsorUploaded||!sponsorName">
            Add Sponsor
          </ion-button>
          <ion-button shape="round" size="small" (click)="saveSponsor()" *ngIf="sponsorUploaded&&sponsorName">
            Add Sponsor
          </ion-button>
        </div>
        <div class="arrSponsors">
          <div class="card noSponsors" style="margin: auto;" *ngIf="tournamentObj.sponsors.length==0" >
            <p style="font-size: .8em;"><b>You need to add sponsors before submitting (Optional)</b></p>
          </div>
          <div class="card" *ngFor="let i of tournamentObj.sponsors">
            <div class="image">
              <img src="{{i.sponsorImage}}">
            </div>
            <div class="name">
              {{i.sponsorName}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- main screen for displaying all information -->
  <div class="cmsContentTourns">
    <div class="tournaments">
      <div class="links">
        <ion-button size="small" shape="round" color="success" (click)="toggleTournamentForm('open')">
          Create Tournament
        </ion-button>

      </div>
      <div class="tournamentList">
        <div class="approvedTournaments">
          <div class="title">
            <h4>Approved Tournaments</h4>
          </div>
          <div class="approvedList">
            <div class="card noTourns" *ngIf="approvedTournaments.length==0" >
              <h5>No Tournaments</h5>
            </div>
            <div class="card " *ngFor="let t of approvedTournaments" (click)="showSideEvent(t)">
            <ion-fab-button *ngIf="t.state=='trash'" id="tr" size="small" (click)="deltourn(t)" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
              <div class="tTitle">
                <h5>{{t.doc.formInfo.tournamentName}}</h5>
              </div>
              <div class="tDetails">
                <div>
                  <p>Starts {{t.doc.formInfo.startDate | date}} <br> Ends {{t.doc.formInfo.endDate | date}}</p>
                  <p style="    font-size: 0.7em; font-weight: bold;">Application open until - {{t.doc.formInfo.applicationClosing | date}}</p>
                  <b><p style ="color:red">{{t.doc.message}}</p></b>
                  <!-- <p>{{t.doc.formInfo.approvedVendors.length}} Vendors Max</p> -->
                </div>
              </div>
              <div class="setup">
                <ion-button size="small" color="light" (click)="finnishSetup(t, 'open')">
                  Finish Setup
                </ion-button>

              </div>
            </div>
          </div>
        </div>
        <div class="unaprovedTournaments">
          <div class="title">
            <h4>Created Tournaments</h4>
          </div>
          <div class="unapprovedList">
            <div class="card" style="display: flex; align-items: center; opacity: 1;" *ngIf="unapprovedTournaments.length==0" >
              
                <h5 style="margin: auto">No Tournaments</h5>
              
            </div>
            <div class="card" *ngFor="let t of unapprovedTournaments" >
              <ion-fab-button id="cr" size="small" (click)="editourn(t)" color="success">
                <ion-icon name="create"></ion-icon>
              </ion-fab-button>
              <ion-fab-button id="tr" size="small" (click)="deltourn(t)" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
              <div class="tTitle">
                <h5>{{t.doc.formInfo.tournamentName}}</h5>
              </div>
              <div class="tDetails">
                <div>
                  <hr>
                  <p> Starts {{t.doc.formInfo.startDate | date }} <br> Ends {{t.doc.formInfo.endDate | date }}</p>
                  <p style="font-size: 0.7em;
                  font-weight: bold;">Application open until - {{t.doc.formInfo.applicationClosing|date}}</p>
                  <!-- <p>{{t.doc.formInfo.approvedVendors.length}} Vendors Max</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tournamentDetails">
        <div class="details">
          <div *ngIf="TournSelectedObj.doc.formInfo.tournamentName==''" > <h4>Click on a tournament to see its full info here.</h4></div>
          <div *ngIf="TournSelectedObj.doc.formInfo.tournamentName!=''">
           
            <h1>{{TournSelectedObj.doc.formInfo.tournamentName}}</h1>
            <p style="color: gray;">Top {{TournSelectedObj.doc.formInfo.type}}</p>
            <hr>
            <p style="font-size: 1.2vw;">{{TournSelectedObj.doc.formInfo.type}} Participants</p>
            <p style="font-size: 1.2vw;">From {{TournSelectedObj.doc.formInfo.startDate|date}} to {{TournSelectedObj.doc.formInfo.endDate|date}}</p>
            <hr>
            <p style="font-weight: bold;">Application Closing Date <br> {{TournSelectedObj.doc.formInfo.applicationClosing|date}}</p>
          </div>
        </div>
        <!-- DISPLAYS INFORMATION OF APPLICATIONS -->
        <div class="matchList">
          <div class="stats">
            <div class="h">
              <p>Team Applications</p>
            </div>
            <div class="card">
              <div class="title">
                <p>Accepted Applications</p>
              </div>
              <div class="number">
                <h3>{{TournSelectedObj.doc.AcceptedApplications}}</h3>
              </div>
            </div>
            <div class="card">
              <div class="title">
                <p>Approved Applications</p>
              </div>
              <div class="number">
                <h3>{{TournSelectedObj.doc.ApprovedApplications}}</h3>
              </div>
            </div>
            <div class="card">
              <div class="title">
                <p>Rejected Applications</p>
              </div>
              <div class="number">
                <h3>{{TournSelectedObj.doc.DeclinedApplications}}</h3>
              </div>
            </div>
            <div class="card">
              <div class="title">
                <p>Total Applications</p>
              </div>
              <div class="number">
                <h3>{{TournSelectedObj.doc.totalApplications}}</h3>
              </div>
            </div>
          </div>
          <div class="stats">
            <div class="h">
              <p>Vendor Applications</p>
            </div>
            <div class="card">
              <div class="title">
                <p>Accepted Applications</p>
              </div>
              <div class="number">
                <h3>{{TournSelectedObj.doc.AcceptedVendorApplications}}</h3>
              </div>
            </div>
            <div class="card">
              <div class="title">
                <p>Approved Applications</p>
              </div>
              <div class="number">
                <h3>{{TournSelectedObj.doc.ApprovedVendorApplications}}</h3>
              </div>
            </div>
            <div class="card">
              <div class="title">
                <p>Rejected Applications</p>
              </div>
              <div class="number">
                <h3>{{TournSelectedObj.doc.DeclinedVendorApplications}}</h3>
              </div>
            </div>
            <div class="card">
              <div class="title">
                <p>Total Applications</p>
              </div>
              <div class="number">
                <h3>{{TournSelectedObj.doc.vendorTotalApplications}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>