.setUpTimeline {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 701;
  background: rgb(255, 255, 255);
  display: none;

  .closebutton {
    position: absolute;
    top: 30px;
    right: 0px;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;

    .teams {
      flex-basis: 30%;
      height: 100%;
      background: rgb(224, 224, 224);
      border-radius: 10px 10px 0px 0px;

      .header {
        width: 100%;
        padding: 10px;

        p {
          margin: 0;

        }
      }

      .teamList {
        width: 100%;
        height: 90%;
        overflow-y: auto;

        .card {
          width: 90%;
          margin: 3px auto;
          border-radius: 10px;
          background: white;
          padding: 10px;

          h5,
          p {
            margin: 0;
          }
        }
      }
    }

    .fixture {
      flex-basis: 70%;
      height: 100%;

      .head {
        position: relative;
        text-align: center;
        padding: 10px;

        h1 {
          margin: 0;
        }

        .step {
          position: absolute;
          right: 10px;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
        }
      }

      .hVSa {
        width: 100%;
        height: 92%;
        background: #142F40;
        border-radius: 20px 20px 0px 0px;
        color: white;

        .headers {
          display: flex;
          justify-content: space-evenly;
        }

        .lists {
          width: 100%;
          height: 92%;
          display: flex;

          .homeList,
          .awayList {
            height: 100%;
            flex-basis: 50%;
            overflow-x: visible;
            overflow-y: auto;
            position: relative;

            .card {
              width: 90%;
              margin: 3px auto;
              border-radius: 10px;
              background: white;
              color: black;
              padding: 10px;

              h5,
              p {
                margin: 0;
              }
            }
          }

          .awayList {
            .doneButton {
              position: fixed;
              bottom: 10px;
              right: 10px;
              z-index: 700;
            }
          }
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.setupFixtures {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 701;
  background: linear-gradient(rgb(255, 255, 255));
  background-size: 100% auto;
  display: none;

  .closebutton {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 200;
  }

  .matches {
    flex-basis: 50%;
    height: 100%;
    position: relative;

    .header {

      padding: 10px;
      display: flex;

      .title {
        flex-basis: 90%;

        h1 {
          margin: 0;
        }

        p {
          margin: 0;
        }
      }
    }

    .teamList {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 85px;
      border-radius: 20px 20px 0px 0px;
      overflow-y: auto;

      .card {
        width: 90%;
        margin: 3px auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        background: #387336;
        color: white;
        box-shadow: 0px 3px 3px #0000005b;
        padding: 10px;

        .details {
          flex-basis: 100%;

          h1 {
            margin: 0;
          }
        }
      }
    }
  }

  .fixtures {
    flex-basis: 50%;
    height: 100%;
    position: relative;

    .header {
      display: flex;
      align-items: center;
      padding: 10px;

      .title {
        flex-basis: 90%;

        h1 {
          margin: 0;

        }

      }

      .div {
        p {
          margin: 0;
        }
      }
    }

    .fixtureList {
      position: absolute;
      background: #142F40;
      bottom: 0;
      left: 0;
      right: 0;
      top: 85px;
      border-radius: 20px 20px 0px 0px;
      overflow-y: auto;

      .card {
        width: 90%;
        margin: 5px auto;
        background: linear-gradient(rgb(255, 255, 255)), url(../../../assets/footbal_deco.svg);
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 3px 3px #1717172c;
        background-repeat: no-repeat;
        background-size: 100%;

        .date {
          width: 100%;
          background: #387336;
          border-radius: 10px;
          padding: 5px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }

        .aVb {
          display: flex;
          justify-content: space-evenly;
          height: 70px;
        }

        .teamAway {
          position: absolute;
          bottom: 0;
          left: 0;
          background: #387336;
          padding: 4px;
          border-radius: 0px 10px 0px 10px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }

        .teamHome {
          position: absolute;
          bottom: 0;
          right: 0;
          background: #387336;
          padding: 4px;
          border-radius: 10px 0px 10px 0px;
          color: white;

          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.chooseFixtureConfig {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 601;
  background: rgba(0, 0, 0, 0.486);
  // display: flex;
  align-items: center;
  display: none;

  .closebutton {
    position: absolute;
    top: 0;
    right: 0;
  }

  .middlediv {
    width: 50%;
    height: auto;
    background: linear-gradient(rgba(5, 39, 0, 0.281)), url(../../../assets/markus-spiske-KWQ2kQtxiKE-unsplash.jpg);
    background-size: cover;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #17171731;
    color: white;
    padding: 0px 50px;

    hr {
      width: 90%;
      margin: 20px auto;
      background: white;
    }

    h1 {
      font-size: 70px;
      letter-spacing: 10px;
    }
  }
}

.newTournamentForm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;

  .form {
    // pointer-events: none;
    overflow: hidden;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 10px;
    margin: 7% auto 0px auto;
    // transform: translateY(-70vh);
    box-shadow: 0px 0px 7px #17171769;
    position: relative;
    display: flex;

    form {
      flex-basis: 50%;
      overflow-y: auto;
    }

    .sButton {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .closeButton {
      position: absolute;
      bottom: 0;
      left: 0%;
      z-index: 400;
      transform: translateX(0px);
    }
  }

  .sponsors {
    flex-basis: 50%;
    height: 100%;
    background: gray;

    .buttons {
      height: 22%;
      background: white;
    }

    .arrSponsors {
      height: 78%;
      background: white;
      padding: 4px;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;

      .card {
        width: 120px;
        height: 30%;
        box-shadow: 0px 2px 2px #1717173d;
        margin: 0px 5px;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;

        .image {
          width: 100%;
          height: 80%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.cmsContentTourns {
  // position: absolute;
  bottom: 0;
  top: 65px;
  right: 0;
  left: 60px;
  background: url(../../../assets/markus-spiske-KWQ2kQtxiKE-unsplash.jpg), linear-gradient(white);
  background-size: cover;
  z-index: 200;
  display: flex;
  height: 100%;

  .tournaments {
    height: 100%;
    width: 100%;

    .links {
      display: flex;
      // height: 10px;
      justify-content: center;
      z-index: 300;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;

      button {
        outline: none !important;
        width: 40%;
        padding: 10px;
        border-radius: 200px;
        background: none;
        border: solid 1px white;
        margin: 5px;
        color: white;
      }
    }

    .tournamentList {
      position: absolute;
      bottom: 0;
      left: 1vw;
      right: 30vw;
      top: 10px;
      overflow-y: auto;
      background:#ffffffbd;
      border-radius: 5px;
      padding: 10px;

      h4 {
        margin: 0;
        padding: 0;
      }

      .approvedTournaments {
        width: 100%;
        height: 50%;

        // background: red;
        // display: flex;
        .title {
          width: auto;
          height: 50px;
          display: flex;
          align-items: center;
          color: rgb(53, 53, 53);
        }

        .approvedList {
          width: 100%;
          height: 80%;
          display: flex;
          overflow-x: auto;
          align-items: center;

          .card {
            position: relative;
            background: url(../../../assets/cardSVG/SVG/apporvedTournamentSVG.svg), white;
            background-position: 287px 3px;
            background-repeat: no-repeat;
            min-width: 400px;
            height: 80%;
            margin: 5px 5px 25px 5px;
            border-radius: 10px;
            box-shadow: 0px 3px 3px #17171717;
            display: flex;
            color: black;
            overflow: hidden;
            position: relative;

            .tTitle {
              text-align: center;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              padding: 5px;
              backdrop-filter: blur(10px);
              border-radius: 10px;

              h5 {
                margin: 0;
                padding: 0;
              }
            }

            .tDetails {
              height: 86%;
              align-items: center;
              padding: 5px;
              flex-basis: 90%;
              padding-top: 40px;
              display: flex;
              align-items: center;
              position: relative;
              width: 100%;

              p {
                margin: 0;
                padding: 0;
              }
            }

            .sponsors {
              display: flex;
              flex-direction: column;
              padding-top: 40px;

              img {
                width: 45px;
              }
            }

            .setup {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }

      }

      .unaprovedTournaments {
        width: 100%;
        height: 50%;

        // background: red;
        // display: flex;
        .title {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          color: rgb(59, 59, 59);
        }

        .unapprovedList {
          width: 100%;
          height: 80%;
          display: flex;
          overflow-x: auto;
          overflow-y: hidden;
          align-items: center;

          .card {
            position: relative;
            background: url(../../../assets/cardSVG/SVG/createdSVG.svg), white;
            background-position: 136px 3px;
            background-repeat: no-repeat;
            color: rgb(27, 27, 27);
            background-size: 100% 100%;
            min-width: 400px;
            max-width: 400px;
            height: 60%;
            margin: 5px 5px 25px 5px;
            border-radius: 10px;
            box-shadow: 0px 3px 3px #17171717;
            display: flex;
            overflow: hidden;

            .tTitle {
              border-radius: 10px;
              text-align: center;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              padding: 5px;
              backdrop-filter: blur(10px);

              h5 {
                margin: 0;
                padding: 0;
              }
            }

            .tDetails {
              height: 100%;
              align-items: center;
              padding: 5px;
              flex-basis: 90%;
              padding-top: 40px;
              display: flex;
              align-items: center;

              p {
                margin: 0;
                padding: 0;
              }
            }

            .sponsors {
              display: flex;
              flex-direction: column;
              padding-top: 40px;

              img {
                width: 45px;
              }
            }
          }
        }
      }
    }
  }

  .tournamentDetails {
    position: absolute;
    width: 32%;
    /* height: 64%; */
    background: #eeeeee;
    border-radius: 20px;
    overflow: hidden;
    right: 0;
    top: 12%;
    bottom: 12%;

    .details {
      width: 100%;
      height: 50%;
      padding: 15px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;

      h4 {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    .matchList {
      width: 100%;
      height: 50%;
      overflow-y: auto;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;

      .stats {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background: #387336;
        color: white;
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;

        .card {
          min-width: 30%;
          max-width: 50%;
          box-shadow: 0px 2px 2px #17171754;
          background: white;
          color: black;
          border-radius: 10px;
          overflow: hidden;

          .title {
            background: green;
            color: rgb(255, 255, 255);
            padding: 10px;

            p {
              margin: 0;
              font-size: .6em;
            }
          }

          .number {
            display: flex;
            align-content: center;

            h3 {
              text-align: center;
              margin: auto;
              font-size: 3em;
            }
          }
        }
      }
    }

  }
}

.setUpApplications {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  top: 0px;
  background: rgb(255, 255, 255);
  z-index: 600;
  border-radius: 20px 20px 0px 0px;
  display: none;

  .closebutton {
    position: absolute;
    top: 0;
    right: 0;
  }

  .applications {
    flex-basis: 40%;
    height: 100%;
    background: rgb(201, 201, 201);
    padding: 5px;
    border-radius: 20px 20px 0px 0px;

    .head {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      position: relative;

      .vendorApplications {
        transition: 0.4s;
        position: absolute;
        top: 0;
        right: -306px;
        width: 300px;
        height: 50vh;
        overflow-x: hidden;
        overflow-y: auto;
        background: white;
        box-shadow: 0px 3px 3px #17171728;
        border-radius: 5px;
        z-index: 300;

        .card {
          display: flex;
          min-width: 96%;
          max-width: 96%;
          background: #142F40;
          border-radius: 5px;
          align-items: center;
          margin: 5px auto;
          color: #C7FFC5;

          .teamInfo {
            flex-basis: 100%;
            padding: 10px;

            p {
              margin: 0;
            }
          }
        }
      }

      .vendorApplications-close {
        transition: 0.4s;
        position: absolute;
        top: 0;
        right: 0px;
        width: 0px;
        height: 50vh;
        overflow-x: hidden;
        overflow-y: auto;
        background: white;
        box-shadow: 0px 3px 3px #17171728;
        border-radius: 5px;
        z-index: 300;

        .card {
          display: flex;
          min-width: 96%;
          max-width: 96%;
          background: #142F40;
          border-radius: 5px;
          align-items: center;
          margin: 5px auto;
          color: #C7FFC5;

          .teamInfo {
            flex-basis: 100%;
            padding: 10px;

            p {
              margin: 0;
            }
          }
        }
      }

      p {
        flex-basis: 90%;
        padding: 0px 10px
      }
    }

    .applicationList {
      width: 100%;
      height: 93%;
      overflow-y: auto;

      .card {
        display: flex;
        width: 96%;
        background: whitesmoke;
        border-radius: 5px;
        align-items: center;
        margin: 5px auto;

        .teamInfo {
          flex-basis: 100%;
          padding: 10px;
        }
      }
    }
  }

  .management {
    flex-basis: 60%;
    height: 100%;
    background: rgb(255, 255, 255);

    .tournamentData {
      width: 100%;
      height: 30%;
      background: white;
      padding: 10px;
      overflow: hidden;

      h1 {
        margin: 0;
      }

      .splitter {
        display: flex;
        height: 87%;

        .one,
        .two {
          flex-basis: 50%;

          p {
            margin: 0;
          }

          hr {
            background: rgb(233, 233, 233);
          }

          img {
            width: 50px;
            border-radius: 5px;
            box-shadow: 0px 3px 3px #1717171c;
            margin: 4px;
          }
        }
      }
    }

    .verificationScreen {
      height: 70%;
      display: flex;
      background: green;
      color: white;

      .acceptedApplications {
        flex-basis: 50%;
        background: rgba(255, 255, 255, 0.151);

        .head {
          text-align: center;

          h1 {
            font-size: 20px;
          }
        }

        .searcher {
          background: rgba(0, 0, 0, 0.267);
          border-radius: 2000px;
          width: 70%;
          margin: auto;
          padding: 0px 10px;
        }

        .stillToPayList {
          margin-top: 3px;
          width: 100%;
          height: 80%;
          overflow-x: hidden;
          overflow-y: auto;
          .managerApplications {
            display: flex;
            overflow-x: auto;
            width: 100%;
            .card {
              padding: 10px;
              border-radius: 10px;
              box-shadow: 0px 3px 3px #17171746;
              min-width: 90%;
              max-width: 90%;
              margin: 5px;
              background: white;
              color: black;
              display: flex;
              align-items: center;
  
              .details {
                flex-basis: 100%;
              }
  
              .refNumber {
                p {
                  opacity: 0.7;
                  font-weight: bold;
                  ;
                }
              }
            }
          }
          .vendorApplications {
            display: flex;
            overflow-x: auto;
            width: 100%;
            .card {
              padding: 10px;
              border-radius: 10px;
              box-shadow: 0px 3px 3px #17171746;
              min-width: 90%;
              max-width: 90%;
              margin: 5px;
              background: white;
              color: black;
              display: flex;
              align-items: center;
  
              .details {
                flex-basis: 100%;
              }
  
              .refNumber {
                p {
                  opacity: 0.7;
                  font-weight: bold;
                  ;
                }
              }
            }
          }
          
        }
      }

      .participatingTeams {
        flex-basis: 50%;

        .head {
          text-align: center;

          h1 {
            font-size: 20px;
          }
        }

        .paidList {
          margin-top: 3px;
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: auto;

          .card {

            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 3px 3px #17171746;
            width: 90%;
            margin: 5px auto;
            background: white;
            color: black;
            display: flex;
            align-items: center;

            .details {
              flex-basis: 100%;
            }

            .refNumber {
              p {
                opacity: 0.7;
                font-weight: bold;
                ;
              }
            }
          }
        }
      }
    }
  }
}