<ion-content>
<div class="smallScreen">
  <div class="text">
    <h1>Device Too Small!</h1>
    <p>Small visual displays not supported by the system.</p>
    <p>Current viewport dimentions: <b>Width {{vw}} - Height {{vh}}</b></p>
    <p></p>
  </div>
</div>
  <div class="sidebar">
    <div class="logo">
      <div class="letter">
          <img width="20px"
          src="../../assets/icon/favicon.png"
          alt="">
      </div>
    </div>
    <div class="links">
<div class="main animated" [ngClass]="{'currentView rubberBand': screen.main}" >
    <ion-button fill="clear" (click)="changeView('main')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
</div>
<div class="tournaments animated" [ngClass]="{'currentView rubberBand': screen.tournaments}">
    <ion-button fill="clear" (click)="changeView('tournaments')">
      <!-- <img  alt=""> -->
        <ion-icon slot="icon-only" src="../../assets/noun_tournament_3131692.svg"></ion-icon>
        <!-- <i class="fas fa-sitemap"></i> -->
      </ion-button>
</div>
     <div class="members animated" [ngClass]="{'currentView rubberBand': screen.members}">
        <ion-button fill="clear" (click)="changeView('members')">
            <ion-icon slot="icon-only" name="people"></ion-icon>
          </ion-button>
     </div>
    </div>
  </div>
  <div class="container">
    <div class="cmshead">
      <div class="title">
        <p>Nathi's Tournaments</p>
      </div>
      <div class="editProfile animated" [ngClass]="{'fadeInRight':editMode,'fadeOutRight':!editMode}">
        <ion-item>
          <ion-label  position="floating">Image</ion-label>
          <ion-input type="file" placeholder="Choose Image" accept="image/*" multiple="false" (change)="selectimage($event.target.files)"></ion-input>
        </ion-item>
      <ion-progress-bar value="{{uploadProgress}}"></ion-progress-bar>
        <ion-item>
          <ion-label  position="floating">Full Name</ion-label>
          <ion-input type="tel" [(ngModel)]="editProfile.formInfo.fullName" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="text" [(ngModel)]="editProfile.formInfo.number"></ion-input>
        </ion-item>
        <ion-button size="small" fill="clear" *ngIf="creatingProfile"  >
          <ion-spinner name="lines"></ion-spinner>
        </ion-button>
        <ion-button [disabled]="uploadProgress>0" size="small"  *ngIf="!creatingProfile" (click)="doneEdit()">
          Save
        </ion-button>
        <ion-button *ngIf="!creatingProfile" size="small" color="danger" (click)="edit('close')">
          Cancel
        </ion-button>
      </div>
      <div class="profile">
        <div class="user" >
          <div class="details">
            <ion-spinner *ngIf="!adminProfile.formInfo.fullName" color="light" name="lines-small"></ion-spinner>
            <p>{{adminProfile.formInfo.fullName}}</p>
          </div>
          <div class="pImage" (click)="profile('open')">
            <img src="{{adminProfile.image}}">
          </div>
        </div>
        <div class="profile-more animated" [ngClass]="{'fadeInRight':openProfile,'fadeOutRight':!openProfile}" >
          <div class="con">
              <img src="{{adminProfile.image}}" alt="Profile Image">
              <div class="details">
                <div class="editB">
                  <ion-button size="small" color="light" fill="clear" (click)="edit('open')">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                </div>
                <h5>{{adminProfile.formInfo.fullName}}  </h5>
                <p>{{adminProfile.formInfo.number}}</p>
                <div class="button">
                  <ion-button size="small" fill="clear" color="danger" (click)="signout()" >
                    Sign Out
                  </ion-button>
                  <ion-button size="small" color="danger" (click)="profile('close')" >
                  Close
                  </ion-button>

                </div>
              </div>
          </div>
        </div>
      </div>
    </div>


    <!-- main page  for seeing tournaments (FIRST LINK) -->
    <div class="cmsContentMain animated" [ngClass]="{'bounceInUp': screen.main,'bounceOutDown fast': !screen.main}">
      <app-landing-page></app-landing-page>
    </div>


    <!-- main page for managing created tournaments (SECOND LINK) -->
    <div class="cmsContentTourns animated"
      [ngClass]="{'bounceInUp': screen.tournaments,'bounceOutDown fast': !screen.tournaments}">
    <app-manage-tournaments></app-manage-tournaments>
    </div>

    
    <!-- main page for managing applying members (THIRD LINK) -->
    <div class="cmsContentMembers animated" [ngClass]="{'bounceInUp': screen.members,'bounceOutDown fast': !screen.members}">
    <app-manage-members></app-manage-members>
    </div>
  </div>

</ion-content>